{% extends 'account/settings_template.html' %}
{% load app_filter %}
{% block settings %}
    <section class="tab_pane selected" data-tab="logs">
        <p>
            Security starts with knowledge. This page lists details about access to your account.
            If you notice a problem, you can <a href="https://blackmambasoft.slack.com/account/reset">sign out of all
            sessions</a> except for your current one.
        </p>
        <hr>
        {% for log in logs %}
            {% with logs|before:forloop.counter0 as previous %}
                {% if forloop.first %}
                    <div class="col span_2_of_6"><p class="bold">{{ log.time_login|date:'l, F jS' }}</p></div>
                    <div class="col span_4_of_6">
                {% endif %}
            {% if log.time_login|date:'Y-m-d' == previous.time_login|date:'Y-m-d' or forloop.first %}
                <p class="log_entry"> {{ log.time_login|date:'h:m a' }} with the&nbsp;
                    <abbr title="{{ log.description }}"
                          style="cursor: help;">
                        <i class="ts_icon ts_icon_laptop"></i>
                        Slack Web App
                    </abbr>
                    <br>
                <span class="small subtle_silver">
					IP: {{ log.ip_address }} {% comment %}(Cuba, Camaguey; Empresa de Telecomunicaciones de Cuba, S.A.).There were 11 additional logins from this device, with the most recent at 9:28pm.{% endcomment %}
                </span>
                </p>
            {% else %}
                </div>
                <hr>
                <div class="col span_2_of_6"><p class="bold">{{ log.time_login|date:'l, F jS' }}</p></div>
                <div class="col span_4_of_6">
                <p class="log_entry"> {{ log.time_login|date:'h:m a' }} with the&nbsp;
                    <abbr title="{{ log.description }}"
                          style="cursor: help;">
                        <i class="ts_icon ts_icon_laptop"></i>
                        Slack Web App
                    </abbr>
                    <br>
                <span class="small subtle_silver">
					IP: {{ log.ip_address }} {% comment %}(Cuba, Camaguey; Empresa de Telecomunicaciones de Cuba, S.A.).There were 11 additional logins from this device, with the most recent at 9:28pm.{% endcomment %}
                </span>
                </p>
            {% endif %}
            {% if forloop.last %}
                </div>
                <hr class="clear_both">
            {% endif %}
            {% endwith %}
        {% endfor %}
    </section>
{% endblock %}