{% extends 'site_template/template.html' %}
{% load staticfiles %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/client/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/chosen/chosen.min.css' %}">
{% endblock %}
{% block js_libraries %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/chosen/chosen.jquery.min.js' %}"></script>
{% endblock %}
{% block main_container %}
    <div id="page_contents" data-qa="page_contents" class="">
        <h1><i class="ts_icon ts_icon_all_files clear_blue"></i> Files</h1>
        <div class="tab_set on_neutral_grey">
            <a href="https://blackmambasoft.slack.com/files" class="selected">All Files</a>
            <a href="https://blackmambasoft.slack.com/files/vbuilvicente">My Files</a>

            <i class="tab_caret ts_icon ts_icon_caret_down"></i>
            <i class="tab_caret ts_icon ts_icon_caret_up"></i>
        </div>
        <div class="tab_pane selected clearfix">
            <div class="col span_2_of_3">
                <div id="files_div">
                    <div id="files_list" class="files_container tab_container loaded">
                        <div id="file_F2LFY3NP7" class="file_list_item file_item space has_icon"
                             data-file-id="F2LFY3NP7">
                            <div class="actions">
                                <button class="file_star btn_icon btn btn_outline ts_tip_btn ts_tip ts_tip_top">
                                    <span data-file-id="F2LFY3NP7"
                                          class="star ts_icon ts_icon_star_o ts_icon_inherit ts_tip_top star_file"></span>
                                    <div class="star_message ts_tip_tip">Star</div>
                                    <div class="unstar_message ts_tip_tip">Unstar</div>
                                </button>
                            </div>
                            <i class="filetype_icon s30 post"></i>
                            <div class="contents">
                                <span class="author">
                                    <a href="https://blackmambasoft.slack.com/team/vbuilvicente"
                                       class="message_sender color_U2KQ0HRD3 color_9f69e7 member member_preview_link "
                                       data-member-id="U2KQ0HRD3">vbuilvicente</a></span>
                                <span class="time">Oct 6th at 11:12 PM</span>

                                <h4 class="title overflow_ellipsis no_preview">
                                    <a href="https://blackmambasoft.slack.com/files/vbuilvicente/F2LFY3NP7/-">
                                        Untitled
                                    </a>
                                </h4>
                                <span class="share_info">
                                    <span class="file_share_public_label hidden" data-file-id="F2LFY3NP7">
                                        <span class="file_share_shared_label hidden" data-file-id="F2LFY3NP7">
                                            Shared <span class="file_share_label" data-file-id="F2LFY3NP7"></span>
                                        </span>
                                    </span>
                                    <span class="file_share_private_label " data-file-id="F2LFY3NP7">
                                        Private file <span class="file_share_label" data-file-id="F2LFY3NP7"></span>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div id="file_F2LG8KXR8" class="file_list_item file_item space has_icon"
                             data-file-id="F2LG8KXR8">
                            <div class="actions">
                                <button class="file_star btn_icon btn btn_outline ts_tip_btn ts_tip ts_tip_top">
                                    <span data-file-id="F2LG8KXR8"
                                          class="star ts_icon ts_icon_inherit ts_tip_top starred ts_icon_star star_file"></span>
                                    <div class="star_message ts_tip_tip">Star</div>
                                    <div class="unstar_message ts_tip_tip">Unstar</div>
                                </button>
                            </div>
                            <i class="filetype_icon s30 post"></i>
                            <div class="contents">
                                <span class="author">
                                    <a href="https://blackmambasoft.slack.com/team/vbuilvicente"
                                       class="message_sender color_U2KQ0HRD3 color_9f69e7 member member_preview_link "
                                       data-member-id="U2KQ0HRD3">vbuilvicente</a></span>
                                <span class="time">Oct 6th at 11:10 PM</span>
                                <h4 class="title overflow_ellipsis ">
                                    <a href="https://blackmambasoft.slack.com/files/vbuilvicente/F2LG8KXR8/dsfdsf">
                                        dsfdsf
                                    </a>
                                </h4>
                                <div class="preview post_body overflow_ellipsis">
                                    fdsfsdfdsfdsfds
                                </div>
                                <a href="https://blackmambasoft.slack.com/files/vbuilvicente/F2LG8KXR8/dsfdsf"
                                   data-file-id="F2LG8KXR8"
                                   class="file_preview_link file_comment_link no_wrap tiny_right_margin">5 <i
                                        class="ts_icon ts_icon_comment"></i></a>
                                <span class="share_info">
                                    <span class="file_share_public_label hidden" data-file-id="F2LG8KXR8">
                                        <span class="file_share_shared_label hidden" data-file-id="F2LG8KXR8">
                                            Shared <span class="file_share_label" data-file-id="F2LG8KXR8"></span>
                                        </span>
                                    </span>
                                    <span class="file_share_private_label " data-file-id="F2LG8KXR8">
                                        Private file <span class="file_share_label" data-file-id="F2LG8KXR8"></span>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div id="file_F2KQ53SUX" class="file_list_item file_item space has_icon"
                             data-file-id="F2KQ53SUX">
                            <div class="actions">
                                <button class="file_star btn_icon btn btn_outline ts_tip_btn ts_tip ts_tip_top">
                                    <span data-file-id="F2KQ53SUX"
                                          class="star ts_icon ts_icon_star_o ts_icon_inherit ts_tip_top star_file"></span>
                                    <div class="star_message ts_tip_tip">Star</div>
                                    <div class="unstar_message ts_tip_tip">Unstar</div>
                                </button>
                            </div>
                            <i class="filetype_icon s30 post"></i>
                            <div class="contents">
                                <span class="author">
                                    <a href="https://blackmambasoft.slack.com/team/slackbot"
                                       class="message_sender color_USLACKBOT color_757575 member member_preview_link "
                                       data-member-id="USLACKBOT">slackbot</a></span>
                                <span class="time">Oct 5th at 2:04 PM</span>

                                <h4 class="title overflow_ellipsis ">
                                    <a href="https://blackmambasoft.slack.com/files/slackbot/F2KQ53SUX/channels_keep_your_conversations_organized">
                                        Channels Keep Your Conversations Organized
                                    </a>
                                </h4>
                                <div class="preview post_body overflow_ellipsis">
                                    Slack lets you join and create channels to keep your conversations organized and
                                    focused. Create channels for your functional teams, large projects, and topics of
                                    interest.
                                </div>
                                <span class="share_info">
                                    <span class="file_share_public_label" data-file-id="F2KQ53SUX">
                                        <span class="file_share_shared_label hidden" data-file-id="F2KQ53SUX">
                                            Shared <span class="file_share_label" data-file-id="F2KQ53SUX"></span>
                                        </span>
                                    </span>
                                    <span class="file_share_private_label  hidden" data-file-id="F2KQ53SUX">
                                        Private file <span class="file_share_label" data-file-id="F2KQ53SUX"></span>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div id="file_F2KQ0HV8D" class="file_list_item file_item space has_icon"
                             data-file-id="F2KQ0HV8D">
                            <div class="actions">
                                <button class="file_star btn_icon btn btn_outline ts_tip_btn ts_tip ts_tip_top">
                                    <span data-file-id="F2KQ0HV8D"
                                          class="star ts_icon ts_icon_star_o ts_icon_inherit ts_tip_top star_file"></span>
                                    <div class="star_message ts_tip_tip">Star</div>
                                    <div class="unstar_message ts_tip_tip">Unstar</div>
                                </button>
                            </div>
                            <i class="filetype_icon s30 post"></i>
                            <div class="contents">
                                <span class="author">
                                    <a href="https://blackmambasoft.slack.com/team/slackbot"
                                       class="message_sender color_USLACKBOT color_757575 member member_preview_link "
                                       data-member-id="USLACKBOT">slackbot</a></span>
                                <span class="time">Oct 5th at 2:04 PM</span>
                                <h4 class="title overflow_ellipsis ">
                                    <a href="https://blackmambasoft.slack.com/files/slackbot/F2KQ0HV8D/welcome_to_slack">
                                        Welcome to Slack!
                                    </a>
                                </h4>
                                <div class="preview post_body overflow_ellipsis">
                                    Slack is here to help make your working life simpler, more pleasant, and more
                                    productive.
                                </div>
                                <span class="share_info">
                                    <span class="file_share_public_label" data-file-id="F2KQ0HV8D">
                                        <span class="file_share_shared_label hidden" data-file-id="F2KQ0HV8D">
                                            Shared <span class="file_share_label" data-file-id="F2KQ0HV8D"></span>
                                        </span>
                                    </span>
                                    <span class="file_share_private_label  hidden" data-file-id="F2KQ0HV8D">
                                        Private file <span class="file_share_label" data-file-id="F2KQ0HV8D"></span>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div id="file_F2KQ5NM5F" class="file_list_item file_item space has_icon"
                             data-file-id="F2KQ5NM5F">
                            <div class="actions">
                                <button class="file_star btn_icon btn btn_outline ts_tip_btn ts_tip ts_tip_top">
                                    <span data-file-id="F2KQ5NM5F"
                                          class="star ts_icon ts_icon_star_o ts_icon_inherit ts_tip_top star_file"></span>
                                    <div class="star_message ts_tip_tip">Star</div>
                                    <div class="unstar_message ts_tip_tip">Unstar</div>
                                </button>
                            </div>
                            <i class="filetype_icon s30 post"></i>
                            <div class="contents">
                                <span class="author"><a href="https://blackmambasoft.slack.com/team/slackbot"
                                                        class="message_sender color_USLACKBOT color_757575 member member_preview_link "
                                                        data-member-id="USLACKBOT">slackbot</a></span>
                                <span class="time">Oct 5th at 2:04 PM</span>
                                <h4 class="title overflow_ellipsis ">
                                    <a href="https://blackmambasoft.slack.com/files/slackbot/F2KQ5NM5F/uploading_your_files_into_slack">
                                        Uploading Your Files Into Slack
                                    </a>
                                </h4>
                                <div class="preview post_body overflow_ellipsis">
                                    Slack lets you add your files into a channel to get feedback from your team. Anyone
                                    who can see the document can add comments, and all those comments stay with the
                                    file. You can add your files into additional channels with the share command, and
                                    all comments and changes will flow back to those channels.
                                </div>
                                <span class="share_info">
                                    <span class="file_share_public_label" data-file-id="F2KQ5NM5F">
                                        <span class="file_share_shared_label hidden" data-file-id="F2KQ5NM5F">
                                            Shared <span class="file_share_label" data-file-id="F2KQ5NM5F"></span>
                                        </span>
                                    </span>
                                    <span class="file_share_private_label  hidden" data-file-id="F2KQ5NM5F">
                                        Private file <span class="file_share_label" data-file-id="F2KQ5NM5F"></span>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div id="file_F2KQ5NM9P" class="file_list_item file_item space has_icon"
                             data-file-id="F2KQ5NM9P">
                            <div class="actions">
                                <button class="file_star btn_icon btn btn_outline ts_tip_btn ts_tip ts_tip_top">
                                    <span data-file-id="F2KQ5NM9P"
                                          class="star ts_icon ts_icon_star_o ts_icon_inherit ts_tip_top star_file"></span>
                                    <div class="star_message ts_tip_tip">Star</div>
                                    <div class="unstar_message ts_tip_tip">Unstar</div>
                                </button>
                            </div>
                            <i class="filetype_icon s30 post"></i>
                            <div class="contents">
                                <span class="author">
                                    <a href="https://blackmambasoft.slack.com/team/slackbot"
                                       class="message_sender color_USLACKBOT color_757575 member member_preview_link "
                                       data-member-id="USLACKBOT">slackbot</a></span>
                                <span class="time">Oct 5th at 2:04 PM</span>
                                <h4 class="title overflow_ellipsis ">
                                    <a href="https://blackmambasoft.slack.com/files/slackbot/F2KQ5NM9P/getting_started_with_posts">
                                        Getting Started with Posts
                                    </a>
                                </h4>
                                <div class="preview post_body overflow_ellipsis">
                                    Hi! Welcome to Posts, Slack's built-in document editor. Posts are a great way to
                                    share long-form content — like project plans, or documentation — directly in Slack.
                                    So how does one use Posts? Well, let's get right to it:
                                </div>
                                <span class="share_info">
                                    <span class="file_share_public_label" data-file-id="F2KQ5NM9P">
                                        <span class="file_share_shared_label hidden" data-file-id="F2KQ5NM9P">
                                            Shared <span class="file_share_label" data-file-id="F2KQ5NM9P"></span>
                                        </span>
                                    </span>
                                    <span class="file_share_private_label  hidden" data-file-id="F2KQ5NM9P">
                                        Private file <span class="file_share_label" data-file-id="F2KQ5NM9P"></span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear_both"></div>
            </div>
            <div class="col span_1_of_3">
                <label class="small bottom_margin">
                    Files From
                    <select class="chosen-select small">
                        <option value="all" selected>Everyone</option>
                        <option value="{{ request.user.username }}">Just You</option>
                        {% for user in partners %}
                            <option value="{{ user.user.username }}">{{ user.user.first_name }} {{ user.user.last_name }}</option>
                        {% endfor %}
                    </select>
                </label>

                <label class="small bottom_margin">
                    File Types
                    <select class="chosen-select small">
                        <option value="all" selected>All File Types</option>
                        <option value="spaces">Posts</option>
                        <option value="snippets">Snippets</option>
                        <option value="images">Images</option>
                        <option value="gdocs">Google Docs</option>
                        <option value="pdfs">PDFs</option>
                    </select>
                </label>

                <label>Add File</label>
                <a href="#/blackmambasoft.slack.com/files/create/snippet"
                   class="btn small_right_margin small_bottom_margin"><i
                        class="ts_icon ts_icon_code small_right_margin"></i>New Snippet</a>
                <a href="#/blackmambasoft.slack.com/files/create/space" id="files_create_space_btn"
                   class="btn btn_info small_bottom_margin"><i class="ts_icon ts_icon_pencil small_right_margin"></i>New
                    Post</a>
            </div>
        </div>
    </div>
    <div id="overlay"></div>
{% endblock %}