{% extends 'site_template/base.html' %}
{% load staticfiles %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/client/index_file_detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/codemirror/codemirror.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/codemirror/codemirror_override.css' %}">
{% endblock %}
{% block js_libraries %}
    <script type="text/javascript" src="{% static 'js/libraries/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libraries/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/codemirror/codemirror.js' %}"></script>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/codemirror/codemirror_load.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/site/account_details.js' %}"></script>
{% endblock %}
{% block body_style %}light_theme{% endblock %}
{% block body %}
    <nav>
        <div class="space">
            <div class="space_buttons right">
                <div class="space_btn_edit_container hidden float_left ts_tip ts_tip_btn ts_tip_bottom ts_tip_right ts_tip_multiline">
                    <button class="space_btn_edit btn btn_small hidden ladda-button disabled" type="button"
                            data-style="slide-left" data-spinner-size="20">
                        <span class="edit_button_text ladda-label">Edit</span>
                    </button>
                    <span class="ts_tip_tip ts_tip_multiline_inner edit_tooltip_text"></span>
                </div>


                <button class="space_btn_share btn btn_outline ts_icon ts_icon_share_action ts_tip ts_tip_tip ts_tip_bottom ts_tip_center float_left"
                        type="button">
                    <span class="ts_tip_tip">Share</span>
                </button>

                <button class="space_btn_more btn btn_outline ts_icon ts_icon_ellipsis ts_tip ts_tip_tip ts_tip_bottom ts_tip_center float_left"
                        type="button">
                    <span class="ts_tip_tip">More actions</span>
                </button>

                <div class="comments_open_shell float_left">
                    <button class="space_btn_comments comments_open btn btn_outline ts_icon ts_icon_comment_o ts_tip ts_tip_tip ts_tip_bottom ts_tip_right"
                            type="button">
                        <span class="notif"></span>
                        <span class="ts_tip_tip">View comments</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="comments">
            <h1>Comments</h1>
            <a id="space_btn_comments_hide" class="comments_close ts_icon ts_icon_times"></a>
        </div>
    </nav>

    <div id="space_alert" class="from_bottom has_buttons hidden">
        <span id="space_alert_text"><span class="msg">Welcome to Posts</span><span class="buttons"><a
                id="spaces_new_xp_learn_more" class="btn btn_outline btn_transparent small_right_margin"
                href="#/get.slack.help/hc/en-us/articles/203950418-Composing-a-post">Tell me more</a> <a
                id="spaces_new_xp_dismiss" class="btn btn_outline btn_transparent">I’ll figure it out</a></span></span>
        <button id="space_alert_close" class="ts_icon ts_icon_times"></button>
    </div>

    <div id="space_find_bar">
        <span id="space_find_info"></span>
        <div class="find_container">
            <input aria-label="Search for text in this post" placeholder="Find in post" id="space_find_input" value=""
                   type="text">
            <button aria-label="Find next occurence" id="space_find_next"><span
                    class="ts_icon ts_icon_arrow_right"></span></button>
        </div>
        <a id="space_find_close" class="ts_icon ts_icon_times" aria-label="Close find bar"></a>
    </div>

    <ts-space class="readonly loaded active">
        <header class="headroom headroom--top">
            <div class="owner_avatar">
                <span class="member_image thumb_192"
                      style="background-image: url('{{ file.author.image.url }}'),url('{% static 'images/ava_0022-48.png' %}');"></span>
            </div>
            <div class="owner_detail">
                <small class="owner_name_and_share_info">
                    {{ file.get_data }}
                    <span class="owner_name">{{ file.author.user.username }}</span>
                    <span class="space_saved_in"></span>
                    <ul class="space_shared_in">
                        <li>shared in</li>
                    </ul>
                </small>
                <h1 class="file_title_header">
                    <span class="file_title">{{ file.title }}</span>
                    <textarea class="inline-edit" rows="1" autocomplete="off" spellcheck="false" maxlength="100"
                              aria-label="Edit title" {% comment %}data-autosize-on="true"{% endcomment %}
                            {% comment %}style="overflow: hidden; overflow-wrap: break-word;"{% endcomment %}
                              placeholder="Untitled"></textarea>
                </h1>
            </div>
            <div class="divider"></div>
        </header>
        <div class="content">
            <ts-rocket rocket-id="002" tabindex="0" class="readOnly readonly">
                <div>
                    <div class="text p first last tab0">
                        <div>
                            {% if file.snippet %}
                                <textarea id="id_code" disabled>{{ file.snippet.code }}</textarea>
                            {% elif file.post %}
                                <p tabindex="-1">{{ file.post.code }}</p>
                                <p class="shadow" spellcheck="false" contenteditable="false">{{ file.post.code }}</p>
                            {% elif file.post %}
                                <p tabindex="-1">{{ file.post.code }}</p>
                                <p class="shadow" spellcheck="false" contenteditable="false">{{ file.post.code }}</p>
                            {% elif file.filesup %}
                                <p tabindex="-1">{{ file.filesup.file_up }}</p>
                                <p class="shadow" spellcheck="false"
                                   contenteditable="false">{{ file.filesup.file_up }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </ts-rocket>
            <div class="para_menu" style="display: none;">
                <div class="insert"><a class="trigger ob"><span></span></a>
                    <ul class="options">
                        <li><a class="file"><span></span></a>
                            <div class="tooltip"><span class="arrow"></span><span class="arrow-shadow"></span>
                                <div class="content">Image or File</div>
                            </div>
                        </li>
                        <li><a class="checklist"><span></span></a>
                            <div class="tooltip"><span class="arrow"></span><span class="arrow-shadow"></span>
                                <div class="content">Checklist</div>
                            </div>
                        </li>
                        <li><a class="snippet"><span></span></a>
                            <div class="tooltip"><span class="arrow"></span><span class="arrow-shadow"></span>
                                <div class="content">Code snippet</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="format"><a class="trigger pilcrow"></a>
                    <div class="options"><span class="top arrow"></span><span class="top arrow-shadow"></span>
                        <div class="content">
                            <ul>
                                <li><a class="paragraph" data-which="paragraph"><span></span></a></li>
                                <li><a class="header1" data-which="header1"><span></span></a></li>
                                <li><a class="header2" data-which="header2"><span></span></a></li>
                                <li><a class="header3" data-which="header3"><span></span></a></li>
                            </ul>
                            <ul>
                                <li><a class="bullet" data-which="list-bullet"><span></span></a></li>
                                <li><a class="number" data-which="list-number"><span></span></a></li>
                                <li><a class="checklist" data-which="list-check"><span></span></a></li>
                                <li><a class="snippet" data-which="code-snippet"><span></span></a></li>
                            </ul>
                        </div>
                        <span class="bottom arrow"></span><span class="bottom arrow-shadow"></span></div>
                </div>
            </div>
        </div>
    </ts-space>

    <comments class="loaded" data-slug="{{ file.slug }}">
        <div id="comments_holder" class="clearfix clear_both">
            <div class="col span_1_of_6"></div>
            <div class="col span_4_of_6 no_right_padding">
                <div id="file_page_comments">
                    <div id="comments" class="comments"></div>
                </div>
                <div id="file_comment_form" class="comment_form">
                    <a href="#/blackmambasoft.slack.com/team/jeriverom" class="member_preview_link">
                        <span class="member_image thumb_36"
                              style="background-image: url('{{ file.author.image.url }}'),url('{% static 'images/ava_0022-48.png' %}');"></span>
                    </a>

                    <textarea id="file_comment"
                              class="small comment_input small_bottom_margin autogrow-short"></textarea>
                    <button id="file_comment_submit_btn" type="submit" class="btn float_right btn_small ladda-button">
                        <span class="ladda-label">Add Comment</span></button>
                </div>
            </div>
            <div class="col span_1_of_6"></div>
        </div>
    </comments>
{% endblock %}