<div class="panel" id="whats_new_tab" style="height: 615px;">
            <div class="heading" tabindex="-1">
                <span id="whats_new_tab_header">What's New</span>
                <a class="close_flexpane left_margin" title="Close Flexpane"><i class="ts_icon ts_icon_times"></i></a>
                <div class="flex_heading_controls">
                    <label class="checkbox" for="what_new_read_cb"><input id="what_new_read_cb" checked="checked"
                                                                          type="checkbox"> Notify me about
                        updates</label>
                </div>
            </div>
            <div id="monkey_scroll_wrapper_for_whats_new_scroller" class="monkey_scroll_wrapper ">
                <div class="monkey_scroll_bar  hidden" style="margin-left: 4.5px;">
                    <div class="monkey_scroll_handle " style="left: -3px;">
                        <div class="monkey_scroll_handle_inner "></div>
                    </div>
                </div>
                <div class="monkey_scroll_hider" style="width: 100%;">
                    <div id="monkey_scroll_wrapper_for_whats_new_scroller" class="monkey_scroll_wrapper ">
                        <div class="monkey_scroll_bar  hidden" style="margin-left: 4.5px;">
                            <div class="monkey_scroll_handle " style="left: -3px;">
                                <div class="monkey_scroll_handle_inner "></div>
                            </div>
                        </div>
                        <div class="monkey_scroll_hider" style="width: 100%;">
                            <div id="whats_new_scroller" class="flex_content_scroller monkey_scroller"
                                 style="width: 0px;">
                                <div id="whats_new_updates" class="lato normal_margin">
                                    <div class="bottom_border bottom_margin bottom_padding"
                                         data-whats-new-id="1473854401">
                                        <h5 class="subtle_silver capitalize">September 14, 2016</h5>
                                        <h3 class="no_bottom_margin">
                                            <a href="https://slackhq.com/a-new-way-to-catch-up-in-slack-148857029091#.e4jzwiqzn"
                                               target="new" class="indifferent_grey whats_new_content">Get all caught
                                                up</a></h3>
                                        <p class="small_bottom_margin whats_new_content">Meet All Unreads — a
                                            new way to catch up on a myriad of Slack conversations in one, simple
                                            sweep. With all your unread messages in one spot, you can quickly scan
                                            what’s new, review what you need to, and clear the rest. With just a
                                            scroll and a click, you’re all caught up!<span class="para_break"><i
                                                    class="copy_only"><br></i></span>Don't see it in your sidebar? Head
                                            to <b data-format-symbol="*">﻿⁠⁠⁠Preferences &gt; Advanced &gt; Channel List
                                                &gt; Turn on All Unreads.</b>﻿⁠⁠⁠</p>
                                        <p class="no_bottom_margin"><a
                                                href="https://slackhq.com/a-new-way-to-catch-up-in-slack-148857029091#.e4jzwiqzn"
                                                class="whats_new_more" target="new">Learn more on our blog<i
                                                class="ts_icon ts_icon_chevron_medium_right ts_icon_inherit align_bottom"></i></a>
                                        </p>
                                    </div>
                                    <div class="bottom_border bottom_margin bottom_padding"
                                         data-whats-new-id="1466531318">
                                        <h5 class="subtle_silver capitalize">June 21, 2016</h5>
                                        <h3 class="no_bottom_margin">
                                            <a href="https://slackhq.com/get-more-done-with-message-buttons-5fa5b283a59"
                                               target="new" class="indifferent_grey whats_new_content">Do more of your
                                                work from Slack</a></h3>
                                        <p class="small_bottom_margin whats_new_content">We've built a new
                                            way to interact with the apps you use in Slack. Message buttons: little
                                            bonny buttons services can add to your apps. You can click to accept
                                            invites, approve things, and hold proper polls, all within Slack. A
                                            dozen apps with buttons are live today, with many more to come.</p>
                                        <p class="no_bottom_margin"><a
                                                href="https://slackhq.com/get-more-done-with-message-buttons-5fa5b283a59"
                                                class="whats_new_more" target="new">Read the blog post<i
                                                class="ts_icon ts_icon_chevron_medium_right ts_icon_inherit align_bottom"></i></a>
                                        </p>
                                    </div>
                                    <div class="bottom_border bottom_margin bottom_padding"
                                         data-whats-new-id="1465214400">
                                        <h5 class="subtle_silver capitalize">June 6, 2016</h5>
                                        <h3 class="no_bottom_margin">
                                            <a href="https://slackhq.com/calls-come-to-slack-ad333ce98acf#.o7s7dwh6u"
                                               target="new" class="indifferent_grey whats_new_content">Calls: Out of
                                                beta and open to all</a></h3>
                                        <p class="small_bottom_margin whats_new_content">You can now jump on a
                                            call whenever you feel the need to talk out loud, directly within
                                            Slack. &nbsp;Call anyone on your team simply by clicking the telephone
                                            icon in the message menu, or clicking “Call” from their user profile.</p>
                                        <p class="no_bottom_margin"><a
                                                href="https://slackhq.com/calls-come-to-slack-ad333ce98acf#.o7s7dwh6u"
                                                class="whats_new_more" target="new">Read the blog post<i
                                                class="ts_icon ts_icon_chevron_medium_right ts_icon_inherit align_bottom"></i></a>
                                        </p>
                                    </div>
                                    <div class="bottom_border bottom_margin bottom_padding"
                                         data-whats-new-id="1463590800">
                                        <h5 class="subtle_silver capitalize">May 18, 2016</h5>
                                        <h3 class="no_bottom_margin">
                                            <a href="https://slackhq.com/learning-to-share-in-slack-d6e4fcff01b8"
                                               target="new" class="indifferent_grey whats_new_content">As a wise person
                                                on this team once said…</a></h3>
                                        <p class="small_bottom_margin whats_new_content">Sharing messages.
                                            The perfect way to loop people in, restart a discussion in a better
                                            channel, or revisit an old conversation. Hover over any message and
                                            click the “Share message…” icon to share a message, add context and get
                                            everyone up to speed.</p>
                                        <p class="no_bottom_margin"><a
                                                href="https://slackhq.com/learning-to-share-in-slack-d6e4fcff01b8"
                                                class="whats_new_more" target="new">Read the blog post<i
                                                class="ts_icon ts_icon_chevron_medium_right ts_icon_inherit align_bottom"></i></a>
                                        </p>
                                    </div>
                                    <div class="bottom_border bottom_margin bottom_padding"
                                         data-whats-new-id="1461348113">
                                        <h5 class="subtle_silver capitalize">April 22, 2016</h5>
                                        <h3 class="no_bottom_margin">
                                            <span class="whats_new_content">A better way to navigate your message history</span>
                                        </h3>
                                        <p class="small_bottom_margin whats_new_content">Hop back to any date in your
                                            message history with the handy new <b data-format-symbol="*">﻿⁠⁠⁠Jump to
                                                date</b>﻿⁠⁠⁠ feature. You can find it in the settings menu for channels
                                            and direct messages. Huzzah! <span class="emoji-outer emoji-sizer"
                                                                               style="background: url(https://a.slack-edge.com/f360/img/emoji_2016_06_08/sheet_apple_64_indexed_256colors.png);background-position:32.5% 42.5%;background-size:4100%"
                                                                               title="rabbit">:rabbit:</span></p>
                                    </div>
                                    <div class="bottom_border bottom_margin bottom_padding"
                                         data-whats-new-id="1461326400">
                                        <h5 class="subtle_silver capitalize">April 22, 2016</h5>
                                        <h3 class="no_bottom_margin">
                                            <a href="https://slack-files.com/T024BE7LD-F116W8W2H-2b7cb856c1"
                                               target="new" class="indifferent_grey whats_new_content">Ringing in Calls
                                                for Android (beta)</a></h3>
                                        <p class="small_bottom_margin whats_new_content">What a glorious day:
                                            Now you can accept and join a call from your Android device (tho’ not
                                            start one, but soon!). Since you’re part of the beta for Calls on
                                            desktop, we thought you might want to try this out. Just make sure to
                                            update your mobile app to the latest version, please.</p>
                                        <p class="no_bottom_margin"><a
                                                href="https://slack-files.com/T024BE7LD-F116W8W2H-2b7cb856c1"
                                                class="whats_new_more" target="new">See the Known Issues list for Calls
                                            on Android<i
                                                    class="ts_icon ts_icon_chevron_medium_right ts_icon_inherit align_bottom"></i></a>
                                        </p>
                                    </div>
                                    <div class="bottom_border bottom_margin bottom_padding"
                                         data-whats-new-id="1460660400">
                                        <h5 class="subtle_silver capitalize">April 14, 2016</h5>
                                        <h3 class="no_bottom_margin">
                                            <a href="https://slackhq.com/getting-things-done-with-reminders-9bdb7686b57a"
                                               target="new" class="indifferent_grey whats_new_content">A friendly
                                                reminder about reminders</a></h3>
                                        <p class="small_bottom_margin whats_new_content">Perhaps you use <b
                                                data-format-symbol="*">﻿⁠⁠⁠/remind</b>﻿⁠⁠⁠
                                            to set reminders for yourself, other teammates, or even entire
                                            channels. As of today, you can also set reminders for any message in
                                            Slack, to remind yourself to come back to it. (We set a reminder to
                                            remind ourselves to tell you that. It worked!)</p>
                                        <p class="no_bottom_margin"><a
                                                href="https://slackhq.com/getting-things-done-with-reminders-9bdb7686b57a"
                                                class="whats_new_more" target="new">Read the blog post<i
                                                class="ts_icon ts_icon_chevron_medium_right ts_icon_inherit align_bottom"></i></a>
                                        </p>
                                    </div>
                                    <div class="bottom_border bottom_margin bottom_padding"
                                         data-whats-new-id="1460046764">
                                        <h5 class="subtle_silver capitalize">April 7, 2016</h5>
                                        <h3 class="no_bottom_margin">
                                            <a href="https://slack-files.com/T024BE7LD-F0XUU5RGU-b4fec434f8"
                                               target="new" class="indifferent_grey whats_new_content">Say Hello to
                                                Calls for iOS</a></h3>
                                        <p class="small_bottom_margin whats_new_content">We just released
                                            Calls for iOS devices. Since you already use Calls, you get instant
                                            access when you update to Slack for iOS 2.90. But there may be some
                                            issues. If you want to see whether we know about one before you report
                                            it, we've created a handy list for you.</p>
                                        <p class="no_bottom_margin"><a
                                                href="https://slack-files.com/T024BE7LD-F0XUU5RGU-b4fec434f8"
                                                class="whats_new_more" target="new">See the Known Issues list for Calls
                                            on iOS<i
                                                    class="ts_icon ts_icon_chevron_medium_right ts_icon_inherit align_bottom"></i></a>
                                        </p>
                                    </div>
                                    <div class="bottom_border bottom_margin bottom_padding"
                                         data-whats-new-id="1458164614">
                                        <h5 class="subtle_silver capitalize">March 16, 2016</h5>
                                        <h3 class="no_bottom_margin">
                                            <span class="whats_new_content">JUMBOMOJI</span></h3>
                                        <p class="small_bottom_margin whats_new_content">Ever feel regular-sized emoji
                                            aren't enough to express your inner <span class="emoji-outer emoji-sizer"
                                                                                      style="background: url(https://a.slack-edge.com/f360/img/emoji_2016_06_08/sheet_apple_64_indexed_256colors.png);background-position:65% 55%;background-size:4100%"
                                                                                      title="joy">:joy:</span>?
                                            Us too. So we made JUMBOMOJI. Now, messages containing emoji only (up
                                            to 23 at a time) are displayed jumbo-sized. Regular terms and conditions
                                            may apply. If emoji have those. We feel like they probably don't. <span
                                                    class="emoji-outer emoji-sizer"
                                                    style="background: url(https://a.slack-edge.com/f360/img/emoji_2016_06_08/sheet_apple_64_indexed_256colors.png);background-position:30% 85%;background-size:4100%"
                                                    title="elephant">:elephant:</span></p>
                                    </div>
                                    <div class="bottom_border bottom_margin bottom_padding"
                                         data-whats-new-id="1453245140">
                                        <h5 class="subtle_silver capitalize">January 19, 2016</h5>
                                        <h3 class="no_bottom_margin">
                                            <span class="whats_new_content">A faster, smarter Quick Switcher</span></h3>
                                        <p class="small_bottom_margin whats_new_content">The Quick Switcher
                                            just got much much quicker, and smarter to boot. It now remembers the
                                            conversations you switch to most frequently and recently, and gets
                                            better the more you use it. If it’s not fixed in your muscle memory yet,
                                            now’s the perfect time to start: press cmd+k on Mac or ctrl+k on
                                            Windows and Linux to give it a try.</p>
                                    </div>
                                    <div class="bottom_border bottom_margin bottom_padding"
                                         data-whats-new-id="1450462640">
                                        <h5 class="subtle_silver capitalize">December 18, 2015</h5>
                                        <h3 class="no_bottom_margin">
                                            <span class="whats_new_content">Allow others to edit your Posts</span></h3>
                                        <p class="small_bottom_margin whats_new_content">Have a Post you want
                                            to work on with other people? Now, you can! Just check “Let others edit
                                            this Post” when sharing your Post, or, after sharing, use the toggle in
                                            the ellipsis menu. Done editing? Click “Done Editing” and let the next
                                            person take over.</p>
                                    </div>
                                    <div class="bottom_border bottom_margin bottom_padding"
                                         data-whats-new-id="1450367764">
                                        <h5 class="subtle_silver capitalize">December 17, 2015</h5>
                                        <h3 class="no_bottom_margin">
                                            <a href="http://slackhq.com/post/135387122640/do-not-disturb" target="new"
                                               class="indifferent_grey whats_new_content">Introducing Do Not Disturb</a>
                                        </h3>
                                        <p class="small_bottom_margin whats_new_content">Need time to
                                            yourself? Want to send someone a message after hours without bothering
                                            them? Go ahead! With Do Not Disturb, you can snooze notifications
                                            (including sounds) on any device for up to 24 hours. <span
                                                    class="emoji-outer emoji-sizer"
                                                    style="background: url(https://a.slack-edge.com/f360/img/emoji_2016_06_08/sheet_apple_64_indexed_256colors.png);background-position:50% 40%;background-size:4100%"
                                                    title="zzz">:zzz:</span></p>
                                        <p class="no_bottom_margin"><a
                                                href="http://slackhq.com/post/135387122640/do-not-disturb"
                                                class="whats_new_more" target="new">Read the blog post<i
                                                class="ts_icon ts_icon_chevron_medium_right ts_icon_inherit align_bottom"></i></a>
                                        </p>
                                    </div>
                                    <div class="bottom_border bottom_margin bottom_padding"
                                         data-whats-new-id="1450313139">
                                        <h5 class="subtle_silver capitalize">December 16, 2015</h5>
                                        <h3 class="no_bottom_margin">
                                            <span class="whats_new_content">A bigger, better image viewer</span></h3>
                                        <p class="small_bottom_margin whats_new_content">Our cramped image
                                            previews have been replaced with a new full-size view which includes
                                            zoom capability. View images as they are meant to be viewed: bigly.</p>
                                    </div>
                                    <div class="bottom_border bottom_margin bottom_padding"
                                         data-whats-new-id="1450288800">
                                        <h5 class="subtle_silver capitalize">December 16, 2015</h5>
                                        <h3 class="no_bottom_margin">
                                            <a href="http://slackhq.com/post/134878632730/launch-platform" target="new"
                                               class="indifferent_grey whats_new_content">Find New Apps for Your
                                                Team</a></h3>
                                        <p class="small_bottom_margin whats_new_content">We’ve launched
                                            Slack’s App Directory with over 150 apps in categories from design to
                                            customer support to productivity. Find the products you already use
                                            every day and connect them to your Slack team for an instant lift in
                                            team productivity and mirth.</p>
                                        <p class="no_bottom_margin"><a
                                                href="http://slackhq.com/post/134878632730/launch-platform"
                                                class="whats_new_more" target="new">Read the blog post<i
                                                class="ts_icon ts_icon_chevron_medium_right ts_icon_inherit align_bottom"></i></a>
                                        </p>
                                    </div>
                                    <div class="bottom_border bottom_margin bottom_padding"
                                         data-whats-new-id="1447376659">
                                        <h5 class="subtle_silver capitalize">November 12, 2015</h5>
                                        <h3 class="no_bottom_margin">
                                            <span class="whats_new_content">Do More with Messages</span></h3>
                                        <p class="small_bottom_margin whats_new_content">We’ve done away with
                                            that (nearly invisible) gear icon to bring you a new, more visible,
                                            more robust message actions menu. Hover over a message to quickly and
                                            instantly: add a reaction, edit your message, mark a message as unread,
                                            or copy the link to a message so you can reference it later.</p>
                                    </div>
                                    <div class="bottom_border bottom_margin bottom_padding"
                                         data-whats-new-id="1446494106">
                                        <h5 class="subtle_silver capitalize">November 2, 2015</h5>
                                        <h3 class="no_bottom_margin">
                                            <span class="whats_new_content">Turn off this red dot thing</span></h3>
                                        <p class="small_bottom_margin whats_new_content">For those who don’t
                                            need or want to see what’s new in this What’s New section, you can now
                                            untick the checkbox above, and this latest red dot will be the last
                                            you’ll ever see. <span class="emoji-outer emoji-sizer"
                                                                   style="background: url(https://a.slack-edge.com/f360/img/emoji_2016_06_08/sheet_apple_64_indexed_256colors.png);background-position:35% 95%;background-size:4100%"
                                                                   title="wave">:wave:</span></p>
                                    </div>
                                    <div class="bottom_border bottom_margin bottom_padding"
                                         data-whats-new-id="1446248015">
                                        <h5 class="subtle_silver capitalize">October 30, 2015</h5>
                                        <h3 class="no_bottom_margin">
                                            <a href="http://slackhq.com/post/132116511325/customprofiles" target="new"
                                               class="indifferent_grey whats_new_content">Customizable, Bigger, Better
                                                Profiles</a></h3>
                                        <p class="small_bottom_margin whats_new_content">Which department
                                            does Mo work in? Who does Shabnam report to? What’s Bill’s favorite
                                            emoji? Now available to admins and owners on paid plans, Custom Profiles
                                            lets you set up a profile unique to your team and how you work. We’ve
                                            also made the profile a little more <span class="emoji-outer emoji-sizer"
                                                                                      style="background: url(https://a.slack-edge.com/f360/img/emoji_2016_06_08/sheet_apple_64_indexed_256colors.png);background-position:7.5% 97.5%;background-size:4100%"
                                                                                      title="sparkles">:sparkles:</span>
                                            for everyone.</p>
                                        <p class="no_bottom_margin"><a
                                                href="http://slackhq.com/post/132116511325/customprofiles"
                                                class="whats_new_more" target="new">Read the blog post<i
                                                class="ts_icon ts_icon_chevron_medium_right ts_icon_inherit align_bottom"></i></a>
                                        </p>
                                    </div>
                                    <div class="bottom_border bottom_margin bottom_padding"
                                         data-whats-new-id="1446152418">
                                        <h5 class="subtle_silver capitalize">October 29, 2015</h5>
                                        <h3 class="no_bottom_margin">
                                            <a href="http://slackhq.com/post/132108708810/usergroups" target="new"
                                               class="indifferent_grey whats_new_content">User Groups and Default
                                                Channels</a></h3>
                                        <p class="small_bottom_margin whats_new_content">Want to get the
                                            attention of some people without bugging anyone else? Now available for
                                            teams on paid plans, User Groups allow you to create <b
                                                    data-format-symbol="*">﻿⁠⁠⁠@windows-users</b>﻿⁠⁠⁠ or <b
                                                    data-format-symbol="*">﻿⁠⁠⁠@trekkies</b>﻿⁠⁠⁠ or <b
                                                    data-format-symbol="*">﻿⁠⁠⁠@interns</b>﻿⁠⁠⁠ (or anything you like!)
                                            AND to add anyone joining that group to a designated set of channels.</p>
                                        <p class="no_bottom_margin"><a
                                                href="http://slackhq.com/post/132108708810/usergroups"
                                                class="whats_new_more" target="new">Read the blog post<i
                                                class="ts_icon ts_icon_chevron_medium_right ts_icon_inherit align_bottom"></i></a>
                                        </p>
                                    </div>
                                    <div class="bottom_border bottom_margin bottom_padding"
                                         data-whats-new-id="1446033601">
                                        <h5 class="subtle_silver capitalize">October 28, 2015</h5>
                                        <h3 class="no_bottom_margin">
                                            <span class="whats_new_content">What’s New</span></h3>
                                        <p class="small_bottom_margin whats_new_content">We added a <b
                                                data-format-symbol="*">﻿⁠⁠⁠What’s New</b>﻿⁠⁠⁠ section with a natty red
                                            badge, for more expediently and efficiently letting you know what’s new.
                                            You’re looking at it. <span class="emoji-outer emoji-sizer"
                                                                        style="background: url(https://a.slack-edge.com/f360/img/emoji_2016_06_08/sheet_apple_64_indexed_256colors.png);background-position:70% 10%;background-size:4100%"
                                                                        title="slightly_smiling_face">:slightly_smiling_face:</span>
                                        </p>
                                    </div>
                                    <div class="bottom_border bottom_margin bottom_padding"
                                         data-whats-new-id="1446033600">
                                        <h5 class="subtle_silver capitalize">October 28, 2015</h5>
                                        <h3 class="no_bottom_margin">
                                            <span class="whats_new_content">Preference for Channel List Display</span>
                                        </h3>
                                        <p class="small_bottom_margin whats_new_content">Don’t want your public and
                                            private channels mixed? They don’t have to be. In your user preferences,
                                            choose <b data-format-symbol="*">﻿⁠⁠⁠List public and private channels
                                                separately</b>﻿⁠⁠⁠ in <b data-format-symbol="*">﻿⁠⁠⁠Advanced Options</b>﻿⁠⁠⁠
                                            to keep them separated.</p>
                                    </div>
                                    <div class="bottom_border bottom_margin bottom_padding"
                                         data-whats-new-id="1445929200">
                                        <h5 class="subtle_silver capitalize">October 27, 2015</h5>
                                        <h3 class="no_bottom_margin">
                                            <a href="http://slackhq.com/post/131956541795/groupmessages" target="new"
                                               class="indifferent_grey whats_new_content">Group Messages</a></h3>
                                        <p class="small_bottom_margin whats_new_content">Pull up to 8 people into a
                                            private conversation without needing to create a channel for it. Use <b
                                                    data-format-symbol="*">﻿⁠⁠⁠cmd+shift+k</b>﻿⁠⁠⁠ on the Mac App, <b
                                                    data-format-symbol="*">﻿⁠⁠⁠ctrl+shift+k</b>﻿⁠⁠⁠ on Windows/Linux, or
                                            click the <b data-format-symbol="*">﻿⁠⁠⁠+</b>﻿⁠⁠⁠ next to the Direct Message
                                            header to bring up the DM screen and create or view DMs and Group Messages.
                                        </p>
                                        <p class="no_bottom_margin"><a
                                                href="http://slackhq.com/post/131956541795/groupmessages"
                                                class="whats_new_more" target="new">Read the blog post<i
                                                class="ts_icon ts_icon_chevron_medium_right ts_icon_inherit align_bottom"></i></a>
                                        </p>
                                    </div>
                                    <div class="bottom_border bottom_margin bottom_padding"
                                         data-whats-new-id="1445410800">
                                        <h5 class="subtle_silver capitalize">October 21, 2015</h5>
                                        <h3 class="no_bottom_margin">
                                            <a href="https://slack.zendesk.com/hc/en-us/articles/212221668-Team-wide-two-factor-authentication"
                                               target="new" class="indifferent_grey whats_new_content">Mandatory
                                                Two-Factor Authentication and Backup Codes</a></h3>
                                        <p class="small_bottom_margin whats_new_content">Need to make sure
                                            everyone on your team is safe and secure? Teams on paid plans can now
                                            turn on Mandatory Two-Factor Authentication. Because you should always
                                            trust your team to be themselves.</p>
                                        <p class="no_bottom_margin"><a
                                                href="https://slack.zendesk.com/hc/en-us/articles/212221668-Team-wide-two-factor-authentication"
                                                class="whats_new_more" target="new">Learn about two-factor
                                            authentication<i
                                                    class="ts_icon ts_icon_chevron_medium_right ts_icon_inherit align_bottom"></i></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>