<div class="panel" id="search_tab" style="height: 615px;">
            <div id="search_results_container">
                <div class="heading" tabindex="-1">
                    <div id="search_heading" class="inline_block">Search Results</div>
                    <a class="close_flexpane small_left_margin" title="Close Flexpane"><i
                            class="ts_icon ts_icon_times"></i></a>
                    <div class="search_sort_container very_small_right_margin">
                        <a id="search_sort_timestamp" class="search_segmented_control left active">Recent</a>
                        <a id="search_sort_score" class="search_segmented_control right">Relevant</a>
                    </div>
                </div>
                <div id="search_tabs" class="lato" style="display: none;">
                    <div id="search_filters" class="messages">
                        <a id="filter_messages">Messages ()</a>
                        <a id="filter_files">Files ()</a>
                    </div>

                </div>
                <div id="search_options" class="subheading"></div>
                <div id="monkey_scroll_wrapper_for_search_results" class="monkey_scroll_wrapper ">
                    <div class="monkey_scroll_bar  hidden" style="margin-left: 4.5px;">
                        <div class="monkey_scroll_handle " style="left: -3px;">
                            <div class="monkey_scroll_handle_inner "></div>
                        </div>
                    </div>
                    <div class="monkey_scroll_hider" style="width: 100%;">
                        <div id="monkey_scroll_wrapper_for_search_results" class="monkey_scroll_wrapper ">
                            <div class="monkey_scroll_bar  hidden" style="margin-left: 4.5px;">
                                <div class="monkey_scroll_handle " style="left: -3px;">
                                    <div class="monkey_scroll_handle_inner "></div>
                                </div>
                            </div>
                            <div class="monkey_scroll_hider" style="width: 100%;">
                                <div id="search_results" class="flex_content_scroller monkey_scroller"
                                     style="width: 0px;">
                                    <div id="search_results_team"></div>
                                    <div id="search_results_items"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>