<!--- aquiii-->
<div class="panel active" id="details_tab">
    <div class="heading" tabindex="-1">
        <span id="details_tab_header"><span class="overflow_ellipsis">About this conversation</span></span>
        <a class="close_flexpane" title="Close Flexpane"><i class="ts_icon ts_icon_times"></i></a>
    </div>

    <div class="selectable_flex_pane_padder no_top_margin">
        <div class="channel_page_shared_files channel_page_section" data-section-name="shared_files">
            <div class="section_header no_bottom_margin display_flex align_items_center" data-collapse>
                <i class="ts_icon ts_icon_all_files mustard_yellow small_right_margin"></i>
                <a title="Click to expand or collapse" class="flex_one" id="channel_files_title">Shared Files</a>

                <div class="disclosure_triangle inline-block left_margin" aria-expanded="true">
                    <i class="ts_icon ts_icon_caret_right"></i>
                    <i class="ts_icon ts_icon_caret_down"></i>
                </div>
            </div>
            <div class="section_content bottom_margin">
                <!--listado despues de aqui-->
                <div class="file_list_item file_item space has_icon active">
                    <div class="actions">
                        <button class="file_actions btn_icon btn_outline btn ts_icon ts_icon_ellipsis ts_tip_btn ts_tip ts_tip_top ts_tip_hide">
                            <div class="ts_tip_tip">
                                File actions
                            </div>
                        </button>

                        <button class="file_star btn_icon btn btn_outline ts_tip_btn ts_tip ts_tip_top ts_tip_hide">
                            <span data-file-id="F2LG8KXR8"
                                  class="star ts_icon ts_icon_star_o ts_icon_inherit ts_tip_top star_file"></span>
                            <div class="star_message ts_tip_tip">Star</div>
                            <div class="unstar_message ts_tip_tip">Unstar</div>
                        </button>
                    </div>
                    <i class="filetype_icon s30 post"></i>
                    <div class="contents">
                        <span class="author">
                            <a href="#/blackmambasoft.slack.com/team/vbuilvicente" target="_blank"
                               class="message_sender color_9f69e7 member member_preview_link "
                               data-member-id="U2KQ0HRD3">vbuilvicente</a></span>
                        <span class="time">Oct 6th at 10:10 PM</span>
                        <h4 class="title overflow_ellipsis "> dsfdsf </h4>
                        <div class="preview post_body overflow_ellipsis"> fdsfsdfdsfdsfds</div>

                        <a href="#/blackmambasoft.slack.com/files/vbuilvicente/F2LG8KXR8/dsfdsf" target="_blank"
                           class="file_preview_link file_comment_link no_wrap tiny_right_margin">6
                            <i class="ts_icon ts_icon_comment"></i></a>

                        <span class="share_info">
                            <span class="file_share_public_label hidden">
                                <span class="file_share_shared_label hidden">
                                    Shared <span class="file_share_label">shared with you</span>
                                </span>
                            </span>
                            <span class="file_share_private_label">
                                Private file <span class="file_share_label">shared with you</span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% comment %}<div class="heading" tabindex="-1">
                <span id="details_tab_header">About <span class="channel_name"><ts-icon
                        class="ts_icon_channel"></ts-icon><strong>announcements</strong></span></span>
        <a class="close_flexpane" title="Close Flexpane"><i class="ts_icon ts_icon_times"></i></a>
    </div>
    <div id="monkey_scroll_wrapper_for_channel_page_scroller" class="monkey_scroll_wrapper ">
        <div class="monkey_scroll_bar  hidden">
            <div class="monkey_scroll_handle ">
                <div class="monkey_scroll_handle_inner "></div>
            </div>
        </div>
        <div class="monkey_scroll_hider">
            <div id="monkey_scroll_wrapper_for_channel_page_scroller" class="monkey_scroll_wrapper ">
                <div class="monkey_scroll_bar  hidden">
                    <div class="monkey_scroll_handle ">
                        <div class="monkey_scroll_handle_inner "></div>
                    </div>
                </div>
                <div class="monkey_scroll_hider">
                    <div id="channel_page_scroller" class="flex_content_scroller monkey_scroller">
                        <div class="selectable_flex_pane_padder no_top_margin">
                            <div class="conversation_details"></div>
                            <div class="channel_page_about channel_page_section ">
                                <div class="section_header no_bottom_margin display_flex align_items_center">
                                    <i class="ts_icon ts_icon_info channel_page_blue small_right_margin"></i>
                                    <a id="channel_page_title" title="Click to expand or collapse"
                                       class="flex_one">Channel Details</a>
                                    <div class="disclosure_triangle inline_block left_margin">
                                        <i class="ts_icon ts_icon_caret_right"></i>
                                        <i class="ts_icon ts_icon_caret_down"></i>
                                    </div>
                                </div>
                                <div class="section_content channel_purpose">
                                    <div class="channel_purpose_section">
                                        <div class="bold subtle_silver purpose_label mini">Purpose</div>
                                        <div class="bold subtle_silver edit_purpose_label hidden mini tiny_bottom_margin">
                                            Set a new purpose
                                        </div>
                                        <div class="channel_purpose_text no_jumbomoji">
                                            This channel is for team-wide communication and announcements. All
                                            team members are in this channel.
                                            <a class="edit_purpose mini">edit</a>
                                        </div>
                                        <textarea type="text" id="channel_purpose_input" class="hidden small"
                                                  maxlength="250" tabindex="1">This channel is for team-wide communication and announcements. All team members are in this channel.</textarea>

                                        <button class="hidden btn btn_outline btn_small purpose_cancel tiny_right_margin"
                                                tabindex="3">Cancel
                                        </button>
                                        <button class="hidden btn btn_small purpose_done" tabindex="2">Done</button>
                                    </div>
                                    <div class="creator italic subtle_silver top_margin">
                                        <a class="creator_link subtle_silver"> Created by vbuilvicente today </a>
                                    </div>
                                </div>
                            </div>

                            <div class="channel_page_pinned_items channel_page_section "
                                 data-section-name="pinned_items">

                                <div class="section_header no_bottom_margin display_flex align_items_center">
                                    <i class="ts_icon ts_icon_thumb_tack pin_orange small_right_margin"></i>
                                    <a title="Click to expand or collapse" class="flex_one"
                                       id="pinned_items_title">Pinned Items</a>
                                    <div class="disclosure_triangle inline_block left_margin">
                                        <i class="ts_icon ts_icon_caret_right"></i>
                                        <i class="ts_icon ts_icon_caret_down"></i>
                                    </div>
                                </div>
                                <div class="section_content pinned_items"></div>
                            </div>
                            <div class="channel_page_members channel_page_section " data-section-name="members">
                                <div class="channel_page_member_tabs section_header"></div>
                                <div class="channel_page_member_lists section_content"></div>
                            </div>
                            <div class="channel_page_shared_files channel_page_section "
                                 data-section-name="shared_files">
                                <div class="section_header no_bottom_margin display_flex align_items_center">
                                    <i class="ts_icon ts_icon_all_files mustard_yellow small_right_margin"></i>
                                    <a title="Click to expand or collapse" class="flex_one"
                                       id="channel_files_title">Shared Files</a>
                                    <div class="disclosure_triangle inline-block left_margin">
                                        <i class="ts_icon ts_icon_caret_right"></i>
                                        <i class="ts_icon ts_icon_caret_down"></i>
                                    </div>
                                </div>
                                <div class="section_content bottom_margin"></div>
                            </div>
                            <div class="channel_page_notif_prefs channel_page_section "
                                 data-section-name="notif_prefs">
                                <div class="section_header no_bottom_margin display_flex align_items_center">
                                            <span class="channel_page_notif_prefs_mute_state"><i
                                                    class="ts_icon ts_icon_bell_o moscow_red small_right_margin"></i></span>
                                    <a id="channel_notif_prefs_title" title="Click to expand or collapse"
                                       class="flex_one">Notification Preferences</a>
                                    <div class="disclosure_triangle inline_block left_margin">
                                        <i class="ts_icon ts_icon_caret_right"></i>
                                        <i class="ts_icon ts_icon_caret_down"></i>
                                    </div>
                                </div>
                                <div class="section_content"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="channel_page_scroller" class="flex_content_scroller">
        <div class="selectable_flex_pane_padder no_top_margin">
            <div class="conversation_details"></div>
            <div class="channel_page_about channel_page_section">
                <div class="section_header no_bottom_margin display_flex align_items_center">
                    <i class="ts_icon ts_icon_info channel_page_blue small_right_margin"></i>
                    <a id="channel_page_title" title="Click to expand or collapse" class="flex_one"></a>
                    <div class="disclosure_triangle inline_block left_margin">
                        <i class="ts_icon ts_icon_caret_right"></i>
                        <i class="ts_icon ts_icon_caret_down"></i>
                    </div>
                </div>
                <div class="section_content channel_purpose"></div>
            </div>

            <div class="channel_page_pinned_items channel_page_section">
                <div class="section_header no_bottom_margin display_flex align_items_center">
                    <i class="ts_icon ts_icon_thumb_tack pin_orange small_right_margin"></i>
                    <a title="Click to expand or collapse" class="flex_one" id="pinned_items_title"></a>
                    <div class="disclosure_triangle inline_block left_margin">
                        <i class="ts_icon ts_icon_caret_right"></i>
                        <i class="ts_icon ts_icon_caret_down"></i>
                    </div>
                </div>
                <div class="section_content pinned_items"></div>
            </div>
            <div class="channel_page_members channel_page_section">
                <div class="channel_page_member_tabs section_header"></div>
                <div class="channel_page_member_lists section_content"></div>
            </div>
            <div class="channel_page_shared_files channel_page_section">
                <div class="section_header no_bottom_margin display_flex align_items_center">
                    <i class="ts_icon ts_icon_all_files mustard_yellow small_right_margin"></i>
                    <a title="Click to expand or collapse" class="flex_one" id="channel_files_title">Shared Files</a>
                    <div class="disclosure_triangle inline-block left_margin">
                        <i class="ts_icon ts_icon_caret_right"></i>
                        <i class="ts_icon ts_icon_caret_down"></i>
                    </div>
                </div>
                <div class="section_content bottom_margin"></div>
            </div>

            <div class="channel_page_notif_prefs channel_page_section">
                <div class="section_header no_bottom_margin display_flex align_items_center">
					<span class="channel_page_notif_prefs_mute_state">
						<i class="ts_icon ts_icon_bell_o moscow_red small_right_margin"></i>
					</span>
                    <a id="channel_notif_prefs_title" title="Click to expand or collapse" class="flex_one">Notification
                        Preferences</a>
                    <div class="disclosure_triangle inline_block left_margin">
                        <i class="ts_icon ts_icon_caret_right"></i>
                        <i class="ts_icon ts_icon_caret_down"></i>
                    </div>
                </div>
                <div class="section_content"></div>
            </div>
        </div>
    </div>{% endcomment %}
</div>