{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | Slack</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/slack/rollup-plastic.css' %}">
    {% block styles %}{% endblock %}
    <link id="favicon" rel="shortcut icon" href="{% static 'images/favicon-32.png' %}"
          sizes="16x16 32x32 48x48" type="image/png">
    <link rel="icon" href="{% static 'images/app-256.png' %}" sizes="256x256" type="image/png">
</head>
<body class="{% block body_style %}light_theme nav_close{% endblock %}">
{% block header %}{% endblock %}
{% block navbar %}{% endblock %}
<!--Nav Bar-->
<div id="{% block id_container %}page{% endblock %}" class="{% block class_container %}{% endblock %}">
    {% block container %}{% endblock %}
</div>
{% block footer %}{% endblock %}
{% block js %}{% endblock %}
</body>
</html>