<footer data-qa="footer">
    <section class="links">
        <div class="grid">
            <div class="col span_1_of_4 nav_col">
                <ul>
                    <li class="cat_1">Using Slack</li>
                    <li><a href="#/is" data-qa="product_footer">Product</a></li>
                    <li><a href="#/pricing">Pricing</a></li>
                    <li><a href="#/hc/en-us">Support</a>
                    </li>
                    <li><a href="#/guides">Slack Guides</a></li>
                    <li><a href="#/videoguides">Video Guides</a></li>
                    <li><a href="#/apps">App Directory</a></li>
                    <li><a href="#/api.slack.com/">API</a></li>
                </ul>
            </div>
            <div class="col span_1_of_4 nav_col">
                <ul>
                    <li class="cat_2">Slack
                        <ts-icon class="ts-icon ts_icon_heart"></ts-icon>
                    </li>
                    <li><a href="#/jobs">Jobs</a></li>
                    <li><a href="#/customers">Customers</a></li>
                    <li><a href="#/developers">Developers</a></li>
                    <li><a href="#/events">Events</a></li>
                    <li><a href="#/slackhq.com/">Blog</a></li>
                    <li><a href="#/varietypack">Podcast</a></li>
                    <li><a href="#/slack-shop.myshopify.com/">Slack Shop</a></li>
                </ul>
            </div>
            <div class="col span_1_of_4 nav_col">
                <ul>
                    <li class="cat_3">Legal</li>
                    <li><a href="#/privacy-policy">Privacy</a></li>
                    <li><a href="#/security">Security</a></li>
                    <li><a href="#/terms-of-service">Terms of Service</a></li>
                    <li><a href="#/policies">Policies</a></li>
                </ul>
            </div>
            <div class="col span_1_of_4 nav_col">
                <ul>
                    <li class="cat_4">Handy Links</li>
                    <li><a href="#/downloads">Download desktop app</a></li>
                    <li><a href="#/downloads">Download mobile app</a></li>
                    <li><a href="#/brand-guidelines">Brand Guidelines</a></li>
                    <li><a href="#/slackatwork.com/">Slack at Work</a></li>
                    <li><a href="#/status.slack.com/">Status</a></li>
                </ul>
            </div>
        </div>
    </section>

    <div class="footnote">
        <section>
            <a href="#/slack.com/">
                <ts-icon class="ts-icon ts_icon_slack_pillow" aria-hidden="true"></ts-icon>
            </a>
            <ul>
                <li>
                    <a href="#/help/contact">Contact Us</a>
                </li>
                <li>
                    <a href="#/twitter.com/SlackHQ">
                        <ts-icon class="ts-icon ts_icon_twitter" aria-hidden="true"></ts-icon>
                    </a>
                </li>
                <li class="yt">
                    <a href="#/www.youtube.com/channel/UCY3YECgeBcLCzIrFLP4gblw">
                        <ts-icon class="ts-icon ts_icon_youtube" aria-hidden="true"></ts-icon>
                    </a>
                </li>
            </ul>
        </section>
    </div>
</footer>