{% load staticfiles %}
<nav id="site_nav" class="hidden">

    <div id="site_nav_contents">

        <div id="user_menu">
            <div id="user_menu_contents">
                <div id="user_menu_avatar">
                    <span class="member_image thumb_48"
                          style="background-image: url('{% static 'images/default_avatar.jpg' %}')"
                          data-thumb-size="48" data-member-id="U2KQ35L2Z"></span>
                    <span class="member_image thumb_36"
                          style="background-image: url('{% static 'images/default_avatar.jpg' %}')"
                          data-thumb-size="36" data-member-id="U2KQ35L2Z"></span>
                </div>
                <h3>Signed in as</h3>
                <span id="user_menu_name">jeriverom</span>
            </div>
        </div>

        <div class="nav_contents">

            <ul class="primary_nav">
                <li><a href="{% url 'app:homepage' %}" data-qa="home"><i class="ts_icon ts_icon_home"></i>Home</a>
                </li>
                <li><a href="{% url 'account:settings' %}" data-qa="account_profile"><i
                        class="ts_icon ts_icon_user"></i>Account &amp; Profile</a></li>
                <li><a href="#/apps/manage" data-qa="configure_apps" target="_blank"><i
                        class="ts_icon ts_icon_plug"></i>Configure Apps</a></li>
                <li><a href="#/archives" data-qa="archives"><i
                        class="ts_icon ts_icon_archive"></i>Message Archives</a></li>
                <li><a href="#/files" data-qa="files"><i
                        class="ts_icon ts_icon_all_files clear_blue"></i>Files</a></li>
                <li><a href="#/team" data-qa="team_directory"><i
                        class="ts_icon ts_icon_team_directory"></i>Team Directory</a></li>
                <li><a href="#/stats" data-qa="statistics"><i
                        class="ts_icon ts_icon_dashboard"></i>Statistics</a></li>
                <li><a href="#/customize" data-qa="customize"><i
                        class="ts_icon ts_icon_magic"></i>Customize</a></li>
                <li><a href="#/account/team" data-qa="team_settings"><i
                        class="ts_icon ts_icon_cog_o"></i>Team Settings</a></li>
            </ul>


        </div>

        <div id="footer">

            <ul id="footer_nav">
                <li><a href="#/is" data-qa="tour">Tour</a></li>
                <li><a href="#/downloads" data-qa="download_apps">Download Apps</a></li>
                <li><a href="#/brand-guidelines" data-qa="brand_guidelines">Brand
                    Guidelines</a></li>
                <li><a href="#/help" data-qa="help">Help</a></li>
                <li><a href="#/api.slack.com" target="_blank" data-qa="api">API<i
                        class="ts_icon ts_icon_external_link small_left_margin ts_icon_inherit"></i></a></li>
                <li><a href="#/pricing" data-qa="pricing">Pricing</a></li>
                <li><a href="#/help/requests/new" data-qa="contact">Contact</a></li>
                <li><a href="#/terms-of-service" data-qa="policies">Policies</a></li>
                <li><a href="#/slackhq.com/" target="_blank" data-qa="our_blog">Our Blog</a></li>
                <li><a href="{% url 'app:logout' %}">Sign Out<i
                        class="ts_icon ts_icon_sign_out small_left_margin ts_icon_inherit"></i></a></li>
            </ul>

            <p id="footer_signature">Made with <i class="ts_icon ts_icon_heart"></i> by Slack</p>

        </div>

    </div>
</nav>