{% extends 'site_template/base.html' %}

{% block class_container %}story marsandbeyond start_animation{% endblock %}
{% block container %}
    <div class="cover signup_c marsandbeyond no_padding ">
        <div id="story" class="marsandbeyond signup signup_a signup_c top top_story_header ">
            <div class="mini_gradient"></div>
            <div class="cta_ad">
                <h1 class="cta_story_header">
                    <div class="hide_from_all">
                        <img class="underline_path underline_robots_image" src="underlines_robots.png">
                        <img class="underline_path underline_mars_image" src="underlines_mars.png">


                    </div>
                <span class="cta_story_header_first">A messaging app for teams <span
                        class="typed-cursor typed_remove hidden hide">|</span></span> <span class="typewriter">
				<span class="">
					<span class="cta_story_header_second">who put <span class="callout_copy"> <span
                            class="underline_robots">robots<svg class="underline_path underline_robots_path"
                                                                width="186px" height="22px" viewBox="-4 0 186 22"
                                                                version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                                xmlns:xlink="http://www.w3.org/1999/xlink">
					<path d="M0,4.8768025 C8.69922932,4.8768025 121.382104,2 168.792189,2 C216.202275,2 26.3856446,8.23981271 16.7336426,15.4152269 C9.77598573,19.2017481 98.4125824,15.4152269 139.865845,15.4152269"
                          id="underlines-robots" transform="rotate(1)"></path>
				</svg></span> on <span class="underline_mars">Mars<svg class="underline_path underline_mars_path"
                                                                       width="152px" height="30px" viewBox="-4 4 152 30"
                                                                       version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                                       xmlns:xlink="http://www.w3.org/1999/xlink">
					<path d="M14.2599771,5.60973053 C31.9753286,5.60973053 134.923583,2 142.842807,2 C150.76203,2 7.82087541,13.5432583 0.293497417,17.1726873 C-7.23388058,20.8021162 132.46385,10.108351 139.760731,14.1834561 C147.057611,18.2585612 60.8022892,26.0074166 60.8022892,26.0074166"
                          id="underlines-mars" transform="rotate(2)"></path>
				</svg></span> </span> </span> <i class="exclamation_points exclamation_point_1"> <span
                        class="exclamation_point_1_dot"> </span> </i> <i class="exclamation_points exclamation_point_2"> <span
                        class="exclamation_point_2_dot"> </span> </i>
				</span>
			</span><span class="typed-cursor hide">|</span>
                    <div class="typewriter_copy offscreen">
				<span class="">
					<span class="cta_story_header_second">w^75h^75o put <span class="callout_copy"> <span
                            class="underline_robots">robots^300<svg class="underline_path underline_robots_path"
                                                                    width="186px" height="22px" viewBox="-4 0 186 22"
                                                                    version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                                    xmlns:xlink="http://www.w3.org/1999/xlink">
					<path d="M0,4.8768025 C8.69922932,4.8768025 121.382104,2 168.792189,2 C216.202275,2 26.3856446,8.23981271 16.7336426,15.4152269 C9.77598573,19.2017481 98.4125824,15.4152269 139.865845,15.4152269"
                          id="underlines-robots" transform="rotate(1)"></path>
				</svg></span> on^300 <span class="underline_mars">Mars<svg class="underline_path underline_mars_path"
                                                                           width="152px" height="30px"
                                                                           viewBox="-4 4 152 30" version="1.1"
                                                                           xmlns="http://www.w3.org/2000/svg"
                                                                           xmlns:xlink="http://www.w3.org/1999/xlink">
					<path d="M14.2599771,5.60973053 C31.9753286,5.60973053 134.923583,2 142.842807,2 C150.76203,2 7.82087541,13.5432583 0.293497417,17.1726873 C-7.23388058,20.8021162 132.46385,10.108351 139.760731,14.1834561 C147.057611,18.2585612 60.8022892,26.0074166 60.8022892,26.0074166"
                          id="underlines-mars" transform="rotate(2)"></path>
				</svg></span> </span> </span> <i class="exclamation_points exclamation_point_1"> <span
                        class="exclamation_point_1_dot"> </span> </i> <i class="exclamation_points exclamation_point_2"> <span
                        class="exclamation_point_2_dot"> </span> </i>
				</span>
                    </div>
                    <div class="typewriter_copy_mobile">
				<span class="no_wrap">
					<span class="cta_story_header_second">who put <span class="callout_copy"> <span
                            class="underline_robots">robots<svg class="underline_path underline_robots_path"
                                                                width="186px" height="22px" viewBox="-4 0 186 22"
                                                                version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                                xmlns:xlink="http://www.w3.org/1999/xlink">
					<path d="M0,4.8768025 C8.69922932,4.8768025 121.382104,2 168.792189,2 C216.202275,2 26.3856446,8.23981271 16.7336426,15.4152269 C9.77598573,19.2017481 98.4125824,15.4152269 139.865845,15.4152269"
                          id="underlines-robots" transform="rotate(1)"></path>
				</svg></span> on <span class="underline_mars">Mars<svg class="underline_path underline_mars_path"
                                                                       width="152px" height="30px" viewBox="-4 4 152 30"
                                                                       version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                                       xmlns:xlink="http://www.w3.org/1999/xlink">
					<path d="M14.2599771,5.60973053 C31.9753286,5.60973053 134.923583,2 142.842807,2 C150.76203,2 7.82087541,13.5432583 0.293497417,17.1726873 C-7.23388058,20.8021162 132.46385,10.108351 139.760731,14.1834561 C147.057611,18.2585612 60.8022892,26.0074166 60.8022892,26.0074166"
                          id="underlines-mars" transform="rotate(2)"></path>
				</svg></span> </span> </span> <i class="exclamation_points exclamation_point_1"> <span
                        class="exclamation_point_1_dot"> </span> </i> <i class="exclamation_points exclamation_point_2"> <span
                        class="exclamation_point_2_dot"> </span> </i>
				</span>
                    </div>

                </h1>
                <div class="cta_container">
                    <div class="cta_subheader">The team behind the <strong>Mars Curiosity Rover</strong> is one of tens
                        of
                        thousands of teams around the world using <strong>Slack</strong> to make their working lives
                        simpler, more pleasant, and more productive.
                    </div>
                    <div class="cta">

                        <form action="https://slack.com/create" method="post" class="cta_form align_middle"
                              novalidate="">
                            <input name="done" value="1" type="hidden">
                            <input name="crumb" value="s-1475719587-a61cc98dd5-☃" type="hidden">
		<span class="cta_input_email_wrapper">
			<input name="email" spellcheck="false" id="inline_input" placeholder="Email address"
                   class="input_email input_inline small_right_margin" data-email-healing="true" type="email">
		</span>
                            <button type="submit" class="btn align_top ga_track_signup" data-qa="create_new_team"
                                    data-clog-event="WEBSITE_CLICK" data-clog-params="click_target=cta_create_new_team">
                                Create New Team
                            </button>
                        </form>

                    <span class="cta_footer">Your team already uses Slack? <a href="https://slack.com/signin"
                                                                              class="opt_cta_signin"
                                                                              data-clog-event="WEBSITE_CLICK"
                                                                              data-clog-params="click_target=cta_footer_sign_in">Sign in</a> or <a
                            href="https://slack.com/signin/find" class="opt_cta_find" data-clog-event="WEBSITE_CLICK"
                            data-clog-params="click_target=cta_footer_find_your_team">find your team</a>.</span>
                    </div>
                </div>
            </div>
            <div id="story_location">
                <strong><a href="http://mars.nasa.gov/msl" target="_top" data-clog-event="WEBSITE_CLICK"
                           data-clog-params="click_target=adheader_subject_marsandbeyond">Curiosity
                    Rover</a></strong><br>
                <a href="https://www.google.com/mars/#lat=-4.565473&amp;lon=-222.448435&amp;zoom=4&amp;q=curiosity"
                   target="google_maps" data-clog-event="WEBSITE_CLICK"
                   data-clog-params="click_target=adheader_location_marsandbeyond">
                    <ts-icon class="ts_icon_location_pin ts_icon_inherit" aria-hidden="true"
                             data-qa="ts_icon_location_pin"></ts-icon>
                    Mars, the Milky Way</a></div>
        </div>

        <div class="marsandbeyond signup signup_a signup_c top top_story_header_mobile">
            <div class="cta">

                <form action="https://slack.com/create" method="post" class="cta_form align_middle" novalidate="">
                    <input name="done" value="1" type="hidden">
                    <input name="crumb" value="s-1475719587-a61cc98dd5-☃" type="hidden">
		<span class="cta_input_email_wrapper">
			<input name="email" spellcheck="false" id="inline_input" placeholder="Email address"
                   class="input_email input_inline small_right_margin" data-email-healing="true" type="email">
		</span>
                    <button type="submit" class="btn align_top ga_track_signup" data-qa="create_new_team"
                            data-clog-event="WEBSITE_CLICK" data-clog-params="click_target=cta_create_new_team">Create
                        New
                        Team
                    </button>
                </form>

            <span class="cta_footer">Your team already uses Slack?<br><a href="https://slack.com/signin"
                                                                         class="opt_cta_signin"
                                                                         data-clog-event="WEBSITE_CLICK"
                                                                         data-clog-params="click_target=cta_footer_sign_in">Sign in</a> or <a
                    href="https://slack.com/signin/find" class="opt_cta_find" data-clog-event="WEBSITE_CLICK"
                    data-clog-params="click_target=cta_footer_find_your_team">find your team</a>.</span>
            </div>
            <div class="cta_subheader">The team behind the <strong>Mars Curiosity Rover</strong> is one of tens of
                thousands
                of teams around the world using <strong>Slack</strong> to make their working lives simpler, more
                pleasant,
                and more productive.
            </div>
        </div>

        <footer class="footer_dark " data-qa="footer">
            <section class="links">
                <div class="grid">
                    <div class="col span_1_of_4 nav_col">
                        <ul>
                            <li class="cat_1">Using Slack</li>
                            <li><a href="is_001.html" data-qa="product_footer" data-clog-event="WEBSITE_CLICK"
                                   data-clog-params="click_target=footer_product" indepth="true">Product</a></li>
                            <li><a href="pricing_009.html" data-qa="pricing_footer" data-clog-event="WEBSITE_CLICK"
                                   data-clog-params="click_target=footer_pricing" indepth="true">Pricing</a></li>
                            <li><a href="https://get.slack.help/hc/en-us" data-qa="support_footer"
                                   data-clog-event="WEBSITE_CLICK"
                                   data-clog-params="click_target=footer_support">Support</a></li>
                            <li><a href="guides.html" data-qa="getting_started" data-clog-event="WEBSITE_CLICK"
                                   data-clog-params="click_target=footer_getting_started" indepth="true">Slack
                                Guides</a>
                            </li>
                            <li><a href="videoguides.html" data-qa="video_guides" data-clog-event="WEBSITE_CLICK"
                                   data-clog-params="click_target=footer_video_guides" indepth="true">Video Guides</a>
                            </li>
                            <li><a href="apps.html" data-qa="app_directory" data-clog-event="WEBSITE_CLICK"
                                   data-clog-params="click_target=footer_app_directory" indepth="true">App Directory</a>
                            </li>
                            <li><a href="default.html" data-qa="api" data-clog-event="WEBSITE_CLICK"
                                   data-clog-params="click_target=footer_api" indepth="true">API</a></li>
                        </ul>
                    </div>
                    <div class="col span_1_of_4 nav_col">
                        <ul>
                            <li class="cat_2">Slack
                                <ts-icon class="ts_icon_heart"></ts-icon>
                            </li>
                            <li><a href="jobs_001.html" data-qa="jobs" data-clog-event="WEBSITE_CLICK"
                                   data-clog-params="click_target=footer_jobs" indepth="true">Jobs</a></li>
                            <li><a href="customers_001.html" data-qa="customers" data-clog-event="WEBSITE_CLICK"
                                   data-clog-params="click_target=footer_customers" indepth="true">Customers</a></li>
                            <li><a href="developers_001.html" data-qa="developers" data-clog-event="WEBSITE_CLICK"
                                   data-clog-params="click_target=footer_developers" indepth="true">Developers</a></li>
                            <li><a href="events_002.html" data-qa="events" data-clog-event="WEBSITE_CLICK"
                                   data-clog-params="click_target=footer_events" indepth="true">Events</a></li>
                            <li><a href="default_001.html" data-qa="blog_footer" data-clog-event="WEBSITE_CLICK"
                                   data-clog-params="click_target=footer_blog" indepth="true">Blog</a></li>
                            <li><a href="varietypack_027.html" data-qa="podcast" data-clog-event="WEBSITE_CLICK"
                                   data-clog-params="click_target=footer_podcast" indepth="true">Podcast</a></li>
                            <li><a href="https://slack-shop.myshopify.com/" data-qa="slack_shop"
                                   data-clog-event="WEBSITE_CLICK" data-clog-params="click_target=footer_slack_shop">Slack
                                Shop</a></li>
                        </ul>
                    </div>
                    <div class="col span_1_of_4 nav_col">
                        <ul>
                            <li class="cat_3">Legal</li>
                            <li><a href="https://slack.com/privacy-policy" data-qa="privacy"
                                   data-clog-event="WEBSITE_CLICK"
                                   data-clog-params="click_target=footer_privacy">Privacy</a></li>
                            <li><a href="https://slack.com/security" data-qa="security" data-clog-event="WEBSITE_CLICK"
                                   data-clog-params="click_target=footer_security">Security</a></li>
                            <li><a href="https://slack.com/terms-of-service" data-qa="tos"
                                   data-clog-event="WEBSITE_CLICK"
                                   data-clog-params="click_target=footer_tos">Terms of Service</a></li>
                            <li><a href="https://slack.com/policies" data-qa="policies" data-clog-event="WEBSITE_CLICK"
                                   data-clog-params="click_target=footer_policies">Policies</a></li>
                        </ul>
                    </div>
                    <div class="col span_1_of_4 nav_col">
                        <ul>
                            <li class="cat_4">Handy Links</li>
                            <li><a href="https://slack.com/downloads" data-qa="downloads"
                                   data-clog-event="WEBSITE_CLICK"
                                   data-clog-params="click_target=footer_downloads">Download desktop app</a></li>
                            <li><a href="https://slack.com/downloads" data-qa="downloads_mobile"
                                   data-clog-event="WEBSITE_CLICK"
                                   data-clog-params="click_target=footer_downloads_mobile">Download
                                mobile app</a></li>
                            <li><a href="https://slack.com/brand-guidelines" data-qa="brand_guidelines"
                                   data-clog-event="WEBSITE_CLICK"
                                   data-clog-params="click_target=footer_brand_guidelines">Brand
                                Guidelines</a></li>
                            <li><a href="http://slackatwork.com/" data-qa="slack_at_work"
                                   data-clog-event="WEBSITE_CLICK"
                                   data-clog-params="click_target=footer_slack_at_work">Slack at Work</a></li>
                            <li><a href="https://status.slack.com/" data-qa="status" data-clog-event="WEBSITE_CLICK"
                                   data-clog-params="click_target=footer_status">Status</a></li>
                        </ul>
                    </div>
                </div>
            </section>

            <div class="footnote">
                <section>
                    <a href="index.html" aria-label="Slack homepage" data-clog-event="WEBSITE_CLICK"
                       data-clog-params="click_target=footer_slack_icon" indepth="true">
                        <ts-icon class="ts_icon_slack_pillow" aria-hidden="true"></ts-icon>
                    </a>
                    <ul>
                        <li>
                            <a href="https://slack.com/help/contact" data-qa="contact_us"
                               data-clog-event="WEBSITE_CLICK"
                               data-clog-params="click_target=footer_contact_us">Contact Us</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/SlackHQ" data-qa="slack_twitter"
                               data-clog-event="WEBSITE_CLICK"
                               data-clog-params="click_target=footer_slack_twitter" aria-label="Slack on Twitter">
                                <ts-icon class="ts_icon_twitter" aria-hidden="true"></ts-icon>
                            </a>
                        </li>
                        <li class="yt">
                            <a href="https://www.youtube.com/channel/UCY3YECgeBcLCzIrFLP4gblw" data-qa="slack_youtube"
                               data-clog-event="WEBSITE_CLICK" data-clog-params="click_target=footer_slack_youtube"
                               aria-label="Slack on YouTube">
                                <ts-icon class="ts_icon_youtube" aria-hidden="true"></ts-icon>
                            </a>
                        </li>
                    </ul>
                </section>
            </div>
        </footer>
        <div class="gradient"></div>
    </div>
{% endblock %}