<div id="modal" class="modal fade in hidden">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="modal-title">title</h3>
    </div>
    <div class="modal-body">body</div>
    <div class="modal-footer">
        <div class="span_1_of_1">
            <a id="cancel" class="btn btn_outline dialog_cancel" tabindex="5">Cancel</a>
            <a id="go" class="btn dialog_go" tabindex="6">name</a>
        </div>
    </div>
</div>