{% load staticfiles %}
<div id="hiddenMenuFile">
    <ul id="menu_items" role="menu_file_option" no-bootstrap="1">
        <li id="copy_file_link" role="menuitem"><a data-url="#URL_LINK#" data-action="copy">Copy link</a></li>
        <li id="comment_file" role="menuitem"><a data-url="#COMMENT#" data-action="comment">Comment</a></li>
        <li id="open_new_window" role="menuitem">
            <a data-url="#NEW_WINDOW_OPEN_FILE#" data-action="open"> Open in new window </a>
        </li>
        <li class="divider"></li>
        <li id="edit_file_space" role="menuitem"><a href="#EDIT_FILE#" target="_blank"> Edit … </a></li>
        <li class="divider"></li>
        <li id="delete_file" class="danger" role="menuitem">
            <a data-url="#URL_DELETE#" data-action="delete"> Delete file </a>
        </li>
    </ul>
</div>

<div id="hiddenMenuUser">
    <section class="slack_menu_you slack_menu_section" aria-label="you">
        <h2 class="slack_menu_header">
            <a href="#/team/jeriverom"
               class="member_preview_link member_image thumb_36"
               style="background-image:
                       url({{ MEDIA_URL }}{{ request.user.user_profile.image }}),
                       url({% static 'images/default_avatar.jpg' %})"></a>

            <span class="current_user_name slack_menu_header_primary overflow_ellipsis">{{ request.user.username }}</span>
            <span class="current_name slack_menu_header_secondary overflow_ellipsis">@{{ request.user.username }}</span>
        </h2>
        <ul class="menu_list">
            <li id="member_account_item" data-user="{{ request.user.username }}"
                onclick="showProfile(this);">
                <a tabindex="0">Profile &amp; account</a>
            </li>
            <li id="member_prefs_item"><a href="{% url 'account:settings' %}">Preferences</a></li>
        </ul>
    </section>
    <section class="slack_menu_current_team slack_menu_section" aria-label="current team">
        <h2 class="slack_menu_header">
            <ts-icon
                    class="team_icon small default">{{ request.user.user_profile.company.name|make_list|first|upper }}</ts-icon>
            <span class="slack_menu_header_primary overflow_ellipsis">{{ request.user.user_profile.company.name }}</span>
        </h2>
        <ul class="menu_list">
            <li id="team_invitations"><a href="{% url 'app:invite_user' %}">Invite people</a></li>
            <li id="logout" class="logout_url">
                <a href="{% url 'app:logout' %}">Sign out of
                    <strong>{{ request.user.user_profile.company.name }}</strong></a>
            </li>
        </ul>
    </section>
</div>

<div id="hiddenMenuFlexMenu">
    <ul id="menu_items" role="menu" no-bootstrap="1">
        <li id="files_user" class="flexpane_menu_item" data-filetype="user" role="menuitem"><a><i
                class="ts_icon ts_icon_all_files"></i>Your Files</a></li>
        <li id="files_all" class="flexpane_menu_item" data-filetype="all" role="menuitem"><a><i
                class="ts_icon ts_icon_all_files_alt"></i>All Files</a></li>
        <li id="list_team" class="flexpane_menu_item" data-tab-id="team" role="menuitem"><a><i
                class="ts_icon ts_icon_team_directory"></i>Team Directory</a></li>
        {% comment %}<li id="help" class="flexpane_menu_item" role="menuitem"><a><i
                class="ts_icon ts_icon_question_circle"></i>Help<span
                class="badge candy_red_bg hidden help_icon_circle_count">0</span></a></li>
        <li id="whats_new" class="flexpane_menu_item" data-tab-id="whats_new" role="menuitem">
            <a>
                <i class="ts_icon ts_icon_emoji_celebration"></i>What's New
                <span id="whats_new_count" class="badge candy_red_bg hidden"></span>
            </a>
        </li>{% endcomment %}
    </ul>
</div>

<div id="hiddenMenuFileUpload">
    <ul id="menu_items" role="menu" no-bootstrap="1">
        <div class="section_header">
            <hr>
            <span class="header_label menu_mini">New...</span></div>
        <li id="create-snippet" class="file_menu_item">
            <a><i class="file_menu_icon ts_icon ts_icon_create_snippet"></i> Code or text snippet</a>
        </li>
        {% comment %}<li id="gdrive_create_submenu" class="file_menu_item has_submenu">
            <a><i class="file_menu_icon ts_icon ts_icon_google_drive"></i> Google Docs file
                <ts-icon class="ts_icon_caret_right submenu_caret"></ts-icon>
            </a>
        </li>{% endcomment %}
        <li id="create-post" class="file_menu_item">
            <a target="_blank" href="{% url 'account:file_post' %}"><i
                    class="file_menu_icon ts_icon ts_icon_create_post"></i> Post</a>
        </li>
        <div class="section_header">
            <hr>
            <span class="header_label menu_mini">Import a file from...</span></div>
        {% comment %}<li role="menuitem" data-which="gdrive_import">
            <a><i class="file_menu_icon ts_icon ts_icon_google_drive"></i> Google Drive</a>
        </li>{% endcomment %}

        <li id="create-file" class="file_menu_item"><a>
            <i class="file_menu_icon ts_icon ts_icon_laptop"></i> Your computer</a>
        </li>
    </ul>
</div>