<div id="menu" class="menu flex_menu hidden" style="top: 52.2px; left: 1130px; opacity: 1;">
    <div class="popover_mask"></div>
    <div class="menu_content">
        <div id="menu_header" class="hidden"></div>
        <div id="monkey_scroll_wrapper_for_menu_items_scroller" class="monkey_scroll_wrapper ">
            <div class="monkey_scroll_bar  hidden" style="margin-left: 205.5px;">
                <div class="monkey_scroll_handle " style="left: -3px;">
                    <div class="monkey_scroll_handle_inner "></div>
                </div>
            </div>
            <div class="monkey_scroll_hider" style="width: 100%;">
                <div id="menu_items_scroller" class="monkey_scroller" style="max-height: 569px; width: 218px;">
                    <div class="menu_body"></div>

                    <ul id="menu_items" role="menu" no-bootstrap="1">
                        <li id="files_user" class="flexpane_menu_item" data-filetype="user" role="menuitem"><a><i
                                class="ts_icon ts_icon_all_files"></i>Your Files</a></li>
                        <li id="files_all" class="flexpane_menu_item" data-filetype="all" role="menuitem"><a><i
                                class="ts_icon ts_icon_all_files_alt"></i>All Files</a></li>
                        <li id="list_team" class="flexpane_menu_item" data-tab-id="team" role="menuitem"><a><i
                                class="ts_icon ts_icon_team_directory"></i>Team Directory</a></li>
                        <li id="help" class="flexpane_menu_item" role="menuitem"><a><i
                                class="ts_icon ts_icon_question_circle"></i>Help<span
                                class="badge candy_red_bg hidden help_icon_circle_count">0</span></a></li>
                        <li id="whats_new" class="flexpane_menu_item" data-tab-id="whats_new" role="menuitem">
                            <a>
                                <i class="ts_icon ts_icon_emoji_celebration"></i>What's New
                                <span id="whats_new_count" class="badge candy_red_bg hidden"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="menu_footer"></div>
    </div>
</div>