body {
    padding: 0;
}

#admin_owner_list .admin_list_item {
    cursor: auto;
    background: transparent;
}

.menu_file_option {
    position: absolute;
    left: -14rem;
}

.menu_file_option li a {
    width: 95% !important;
    border-radius: 3px !important;
    margin-left: .3rem !important;
    border: none !important;
}

#client-ui:not(.feature_shrinkwrap_menus) .menu ul li a {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.menu ul li a {
    display: block;
    text-decoration: none;
    padding: 0 1rem 0 0.5rem;
    margin: 0 0.9375rem;
    border-radius: 0.25rem;
    white-space: nowrap;
    outline: 0 none;
    font-size: 0.9375rem;
    line-height: 1.5625rem;
    background: transparent none repeat scroll 0 0;
    color: rgb(44, 45, 48);
}

p.bubble {
    color: #9e9ea6; /* @subtle_silver */
    background: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0.25em 0.5em;
}

p.bubble.duration {
    display: inline-block;
    min-width: 5em;
    text-align: right;
}

.page-wrapper {
    max-width: 550px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
}

.page-wrapper .logo-img {
    margin-top: -10px;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.sidebar {
    display: inline-block;
    width: 19.5%;
    vertical-align: top;
    height: 100%;
    background: #4d394b;
    position: relative;
    overflow-y: scroll;
    padding-bottom: 100px;
}

.sidebar .slack-name {
    background: #3E313C;
    padding: 15px 0 15px 15px;
}

.sidebar .slack-name h2 {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.sidebar .channel-list {
    margin-top: 20px;
    background: #4d394b;
    position: relative;
}

.sidebar .channel-list .channel a {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    padding: 3px 0 3px 15px;
    width: 90%;
    font-weight: 300;

    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.sidebar .channel-list .channel a:hover {
    text-decoration: none;
    background: #3E313C;
}

.sidebar .channel-list .channel a.selected {
    background: #4c9689;
    color: #fff;
    text-decoration: none !important;
}

.sidebar .channel-list .channel.create {
    font-style: italic;
}

.sidebar .channel-list .list-head {
    margin-top: 10px;
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
    text-transform: uppercase;
}

.sidebar .my-info {
    position: fixed;
    bottom: 0;
    padding: 15px;
    background: #3E313C;
    width: 19.5%;
}

.sidebar .my-info .user-pic {
    display: inline-block;
    vertical-align: top;
    width: 44px;
    height: 44px;
    border-radius: 4px;
}

.sidebar .my-info .user-info {
    padding-left: 5px;
    display: inline-block;
    vertical-align: top;
}

.sidebar .my-info .user-info .user-name {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.sidebar .my-info .user-info .options {
    color: #999;
    font-size: 12px;
}

.sidebar .my-info .user-info .options a {
    color: #999;
    font-size: 12px;
}

.sidebar .presence {
    border-radius: 50%;
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    background: #ab9ba9;
    vertical-align: middle;
}

.sidebar .presence.online {
    background: #99d04a;
}

.message-pane {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 80%;
    overflow-y: scroll;
    padding: 55px 15px 65px 15px;
}

.message-pane .header {
    position: fixed;
    top: 0;
    background: #fff;
    width: 100%;
    z-index: 2;
}

.message-pane .header h1 {
    padding: 12px 0 10px 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    color: #555459;
    font-weight: 900;
}

.message-pane .message-form {
    position: fixed;
    bottom: 0;
    padding: 0 15px 15px 0;
    background: #fff;
    width: 79%;
}

.message-pane .message-wrap {
    position: relative;
    margin-top: 15px;
}

.message-pane .message-wrap .user-pic {
    width: 36px;
    height: 36px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: top;
}

.message-pane .message-wrap .message-info {
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
}

.message-pane .message-wrap .message-info .user-name {
    color: #555459;
    font-weight: 900;
}

.message-pane .message-wrap .message-info .user-name span {
    color: #ccc;
    font-weight: normal;
    font-size: 10px;
}

.tab_container .file_list_item .filetype_icon, .tab_container .file_list_item .filetype_image {
    position: absolute;
    top: 0.625rem;
    left: 0.5625rem;
    margin-top: -0.0625rem;
}

.tab_container .file_list_item .filetype_image {
    width: 3.125rem;
    height: 3.125rem;
    background-size: cover !important;
    background: rgb(243, 243, 243) no-repeat center center;
    border-radius: 0.25rem;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
}

.tab_container .file_list_item.has_image .contents {
    margin-left: 4.3125rem;
    min-height: 3.75rem;
    padding-left: 0;
}

.color_9f69e7:not(.nuc) {
    color: #9F69E7;
}

.color_4bbe2e:not(.nuc) {
    color: #4BBE2E;
}

.color_e7392d:not(.nuc) {
    color: #E7392D;
}

.color_3c989f:not(.nuc) {
    color: #3C989F;
}

.color_674b1b:not(.nuc) {
    color: #674B1B;
}

.color_e96699:not(.nuc) {
    color: #E96699;
}

.color_e0a729:not(.nuc) {
    color: #E0A729;
}

.color_684b6c:not(.nuc) {
    color: #684B6C;
}

.color_5b89d5:not(.nuc) {
    color: #5B89D5;
}

.color_2b6836:not(.nuc) {
    color: #2B6836;
}

.color_99a949:not(.nuc) {
    color: #99A949;
}

.color_df3dc0:not(.nuc) {
    color: #DF3DC0;
}

.color_4cc091:not(.nuc) {
    color: #4CC091;
}

.color_9b3b45:not(.nuc) {
    color: #9B3B45;
}

.color_d58247:not(.nuc) {
    color: #D58247;
}

.color_bb86b7:not(.nuc) {
    color: #BB86B7;
}

.color_5a4592:not(.nuc) {
    color: #5A4592;
}

.color_db3150:not(.nuc) {
    color: #DB3150;
}

.color_235e5b:not(.nuc) {
    color: #235E5B;
}

.color_9e3997:not(.nuc) {
    color: #9E3997;
}

.color_53b759:not(.nuc) {
    color: #53B759;
}

.color_c386df:not(.nuc) {
    color: #C386DF;
}

.color_385a86:not(.nuc) {
    color: #385A86;
}

.color_a63024:not(.nuc) {
    color: #A63024;
}

.color_5870dd:not(.nuc) {
    color: #5870DD;
}

.color_ea2977:not(.nuc) {
    color: #EA2977;
}

.color_50a0cf:not(.nuc) {
    color: #50A0CF;
}

.color_d55aef:not(.nuc) {
    color: #D55AEF;
}

.color_d1707d:not(.nuc) {
    color: #D1707D;
}

.color_43761b:not(.nuc) {
    color: #43761B;
}

.color_e06b56:not(.nuc) {
    color: #E06B56;
}

.color_8f4a2b:not(.nuc) {
    color: #8F4A2B;
}

.color_902d59:not(.nuc) {
    color: #902D59;
}

.color_de5f24:not(.nuc) {
    color: #DE5F24;
}

.color_a2a5dc:not(.nuc) {
    color: #A2A5DC;
}

.color_827327:not(.nuc) {
    color: #827327;
}

.color_3c8c69:not(.nuc) {
    color: #3C8C69;
}

.color_8d4b84:not(.nuc) {
    color: #8D4B84;
}

.color_84b22f:not(.nuc) {
    color: #84B22F;
}

.color_4ec0d6:not(.nuc) {
    color: #4EC0D6;
}

.color_e23f99:not(.nuc) {
    color: #E23F99;
}

.color_e475df:not(.nuc) {
    color: #E475DF;
}

.color_619a4f:not(.nuc) {
    color: #619A4F;
}

.color_a72f79:not(.nuc) {
    color: #A72F79;
}

.color_7d414c:not(.nuc) {
    color: #7D414C;
}

.color_aba727:not(.nuc) {
    color: #ABA727;
}

.color_965d1b:not(.nuc) {
    color: #965D1B;
}

.color_4d5e26:not(.nuc) {
    color: #4D5E26;
}

.color_dd8527:not(.nuc) {
    color: #DD8527;
}

.color_bd9336:not(.nuc) {
    color: #BD9336;
}

.color_e85d72:not(.nuc) {
    color: #E85D72;
}

.color_dc7dbb:not(.nuc) {
    color: #DC7DBB;
}

.color_bc3663:not(.nuc) {
    color: #BC3663;
}

.color_9d8eee:not(.nuc) {
    color: #9D8EEE;
}

.color_8469bc:not(.nuc) {
    color: #8469BC;
}

.color_73769d:not(.nuc) {
    color: #73769D;
}

.color_b14cbc:not(.nuc) {
    color: #B14CBC;
}

header#client_header {
    box-shadow: none;
}

#quick_switcher_btn {
    font-size: 0.8rem;
}

.monkey_scroll_wrapper {
    padding-bottom: 0.4rem;
}

.channels_list_holder .unread_highlights, .channels_list_holder .unread_msgs {
    /*right: 15px;*/
    /*width: 1.1rem;*/
}

li.member.cursor_pointer {
    /*width: 12 rem;*/
}

#col_channels_footer {
    padding-top: 1.3rem;
}

#presence_container {
    display: none; /*TODO utilizar para cargar*/
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 7px;
    border: 5px solid #fff;
    background: #d9d9de;
    position: absolute;
    left: -3px;
}

::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

::-webkit-scrollbar-thumb {
    background: #D9D9DE;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

.team_list_item {
    padding: .5rem;
    border: 0.5px solid transparent;
}

.team_list_item:hover {
    cursor: pointer;
    border-radius: 5px;
    border: 0.5px solid #d9d9d9;
}

.chat_list_mini {
    width: 80% !important;
}

.menu_user_list {
    max-height: 15rem;
    overflow-y: auto;
}

.menu_file_create {
    bottom: 5rem;
    left: 1rem;
    position: absolute;
}

.modal-body {
    overflow: visible !important;
}

#convo_loading_indicator {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 40%;
    left: 45%;
    z-index: 1010;
    background: url('../../images/loading_hash_animation_@2x.gif') no-repeat;
    display: none;
}

.chosen-container-single .chosen-single {
    position: initial;
    height: initial;
}

.chosen-container.chosen-container-single {
    text-align: left;
}

.my-scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 35rem;
    padding-right: 5px;
}

.flexpane_file_title .title a {
    cursor: pointer;
}

#messages-input-container.offline:not(.recent-incremental-boot) #primary_file_button:hover {
    border-color: #56B68B;
    background: #56B68B !important;
}

.CodeMirror .CodeMirror-gutters {
    margin-left: 2em;
}

.CodeMirror .CodeMirror-lines {
    margin-left: 2.5em;
}

.CodeMirror .CodeMirror-gutter-wrapper {
    left: -36px !important;
}

.file_container .CodeMirror .CodeMirror-code > div:first-child:nth-last-child(2), .file_container .CodeMirror .CodeMirror-code > div:first-child:nth-last-child(2):before, .file_container .CodeMirror .sssh-line:first-child:nth-last-child(2), .file_container .CodeMirror .sssh-line:first-child:nth-last-child(2):before, .file_container .sssh-code .CodeMirror-code > div:first-child:nth-last-child(2), .file_container .sssh-code .CodeMirror-code > div:first-child:nth-last-child(2):before, .file_container .sssh-code .sssh-line:first-child:nth-last-child(2), .file_container .sssh-code .sssh-line:first-child:nth-last-child(2):before {
    padding-top: .6875rem;
}

.file_container .CodeMirror .CodeMirror-code > div, .file_container .CodeMirror .sssh-line, .file_container .sssh-code .CodeMirror-code > div, .file_container .sssh-code .sssh-line {
    counter-increment: snippet;
    position: relative;
    margin-left: 2.5rem;
    padding-right: .625rem;
}

.file_container .CodeMirror .CodeMirror-code > div:before, .file_container .CodeMirror .sssh-line:before, .file_container .sssh-code .CodeMirror-code > div:before, .file_container .sssh-code .sssh-line:before {
    content: counter(snippet);
    position: absolute;
    top: 0;
    bottom: 0;
    left: -2.5rem;
    border-right: 1px solid rgba(0, 0, 0, .1);
    background-color: #fbfbfb;
    text-align: right;
    padding-right: .25rem;
    width: 1.625rem;
    color: #9e9ea6;
    font-size: .72rem;
    line-height: 1rem;
    white-space: nowrap;
    user-select: none;
}

img#file_page_image {
    max-height: 12rem;
    padding-bottom: 1em;
}

.comment {
    margin: 0 0 1rem;
    padding-left: 2.875rem;
    font-family: Slack-Lato, appleLogo, sans-serif;
    -moz-user-select: text;
}

.comment .member_image, .comment_form .member_image {
    float: left;
    margin: 0 0 0 -2.875rem;
}

.member_image.thumb_36 {
    width: 2.25rem;
    height: 2.25rem;
}

a, a:link, a:visited {
    color: rgb(58, 163, 227);
    text-decoration: none;
}

.member_image {
    border-radius: 0.2rem;
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
}

.comment_meta {
    font-size: 0.8rem;
    line-height: 1.1rem ! important;
    margin-bottom: 0;
    color: rgb(186, 187, 191);
}

.comment .member {
    font-weight: 900;
    padding-right: 0.25rem;
    color: rgb(61, 60, 64) ! important;
    font-size: 0.9375rem;
}

.no_touch a:hover, a.active {
    text-decoration: underline;
}

.file_header_container {
    min-height: 35px;
    margin-bottom: 0.5rem;
}

.flexpane_file_title .member_image {
    position: absolute;
    top: 0px;
    left: 0px;
}

.member_image.thumb_36 {
    width: 2.25rem;
    height: 2.25rem;
}

a:not([href]) {
    cursor: pointer;
}

.member_image {
    border-radius: 0.2rem;
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
}

.flexpane_file_title {
    position: relative;
    z-index: 5;
    padding-left: 2.875rem;
    padding-right: 6rem;
    min-height: 2.25rem;
    margin-bottom: 0.5rem;
    font-size: 0.9375rem;
    line-height: 1.1rem;
}

.flexpane_file_title .member, .flexpane_file_title .service_link {
    color: rgb(85, 84, 89) ! important;
    font-weight: 500 ! important;
    font-family: Slack-Lato, appleLogo, sans-serif;
}

.flexpane_file_title .title {
    display: block;
    color: rgb(85, 84, 89);
    font-weight: 900;
    font-family: Slack-Lato, appleLogo, sans-serif;
}

.break_word {
    overflow-wrap: break-word;
}

.flexpane_file_title .title a {
    color: rgb(85, 84, 89);
}

a, a.btn {
    color: #fff;
    text-decoration: none;
}

.plastic_row:hover {
    background: #fbfbfa;
    border-color: #e8e8e8;
    text-decoration: none;
}
