{% load staticfiles %}
<div id="client_body">
    <div id="col_messages">
        <div class="row-fluid">
            <div id="col_channels_bg" style="z-index: 0;"></div>
            <div id="col_channels_overlay" class="onboarding_overlay hidden">
                <div class="overlay_mock_text forty_percent_width"></div>
                <div class="overlay_mock_text fifty_percent_width"></div>
                <div class="overlay_mock_text thirty_five_percent_width"></div>
            </div>
            <div id="col_channels" class="channels_list_holder no_unread_msgs_badges default_sort">
                <div id="monkey_scroll_wrapper_for_channels_scroller" class="monkey_scroll_wrapper ">
                    <div class="monkey_scroll_bar  hidden" style="margin-left: 203.5px;">
                        <div class="monkey_scroll_handle " style="left: -3px;">
                            <div class="monkey_scroll_handle_inner "></div>
                        </div>
                    </div>
                    <div class="monkey_scroll_hider " style="width: 199px;">
                        <div id="monkey_scroll_wrapper_for_channels_scroller" class="monkey_scroll_wrapper ">
                            <div class="monkey_scroll_bar  hidden" style="margin-left: 182.5px;">
                                <div class="monkey_scroll_handle " style="left: -3px;">
                                    <div class="monkey_scroll_handle_inner "></div>
                                </div>
                            </div>
                            <div class="monkey_scroll_hider " style="width: 200px;">
                                <div id="channels_scroller" class="show_which_channel_is_active monkey_scroller"
                                     style="height: 544px; visibility: visible; width: 220px;">
                                    <ul id="all-unreads-list">
                                        <li data-action="show_unread_view"
                                            class="channels_nav_unread show_in_list_even_though_no_unreads unread_link all_unreads hidden">
                                            <a class="overflow_ellipsis channel_name">
                                                <ts-icon class="ts_icon_list"></ts-icon>
                                                All unreads
                                            </a>
                                        </li>
                                    </ul>
                                    <div id="channels" role="navigation" class="section_holder" aria-label="Channels">
                                        {% comment %}<button class="new_channel_btn ts_icon ts_icon_plus_circle channels_list_new_btn btn_unstyle"
                                                title="Create new Channel"></button>{% endcomment %}
                                        <h2 id="channels_header" class="hoverable">
                                            <button class="channel_list_header_label btn_unstyle">
                                                Channels
                                                <span class="header_count">
                                                    (<span id="channel_header_count">2</span>)
                                                </span>
                                            </button>
                                        </h2>

                                        <ul id="channel-list" aria-label="channels"></ul>
                                        <div class="clear_both"></div>
                                    </div>
                                    <div id="direct_messages" role="navigation" class="section_holder no_bottom_margin"
                                         aria-label="Direct Messages">
                                        <button class="new_dm_btn ts_icon ts_icon_plus_circle channels_list_new_btn btn_unstyle"
                                                title="New Message"></button>

                                        <h2 id="direct_messages_header" class="hoverable" title="Open a Direct Message">
                                            Direct Messages <span class="header_count">(<span
                                                id="dm_header_count">3</span>)</span></h2>
                                        <ul id="im-list">
                                            <li class="member cursor_pointer">
                                                <div class="hotness_icon hidden" id="hotness_D2KQ7LXTR"><span
                                                        class="emoji-outer emoji-sizer"
                                                        style="background: url({% static 'images/sheet_apple_64_indexed_256colors.png' %}) 57.5% 65%;background-size:4100%"></span>
                                                </div>
                                                <a href="#/team/slackbot" class="im_name nuc">
                                                    <span class="unread_highlights hidden">0</span>
                                                    <span class="typing_indicator"></span>
                                                    <span class="overflow_ellipsis">
                                                            <i class="ts_icon ts_icon_heart slackbot_icon"></i>
                                                            slackbot
                                                    </span>
                                                </a>
                                                <button class="ts_icon ts_icon_times_circle im_close btn_unstyle"></button>
                                            </li>
                                        </ul>
                                        <div class="clear_both"></div>
                                    </div>

                                    <button id="channel_list_invites_link"
                                            class="channel_list_add_link btn_unstyle dim">
                                        <i class="ts_icon ts_icon_plus_small float_left"></i> Invite people
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="col_channels_footer">
                    <div id="invites_widget"></div>

                    <div id="quick_switcher_btn"><i class="ts_icon ts_icon_filter"></i>
                        <span id="quick_switcher_label"
                              class="quick_switcher_label_windows_alignment">Quick Switcher</span>
                        <span id="quick_switcher_shortcut">Ctrl+K</span></div>
                </div>
            </div>
            {% include 'chat/chat_body.html' %}
        </div>
    </div>
</div>