{% load staticfiles %}
<div id="messages_container" class="has_top_messages_banner" role="main">
    {% comment %}
        <div id="unread_msgs_scroller_div" class="loading"></div>
        <div id="monkey_scroll_wrapper_for_archive_msgs_scroller_div" class="monkey_scroll_wrapper  hidden">
            <div class="monkey_scroll_bar" style="margin-left: 4.5px; height: 0px;">
                <div class="monkey_scroll_handle  hidden" style="left: -3px; top: 0px;">
                    <div class="monkey_scroll_handle_inner "></div>
                </div>
            </div>
            <div class="monkey_scroll_hider  scrolling" style="width: 0px;">
                <div id="monkey_scroll_wrapper_for_archive_msgs_scroller_div" class="monkey_scroll_wrapper ">
                    <div class="monkey_scroll_bar" style="margin-left: 4.5px; height: 0px;">
                        <div class="monkey_scroll_handle  hidden" style="left: -3px; top: 0px;">
                            <div class="monkey_scroll_handle_inner "></div>
                        </div>
                    </div>
                    <div class="monkey_scroll_hider  scrolling" style="width: 0px;">
                        <div id="archive_msgs_scroller_div"
                             class="hidden monkey_scroller" style="width: 0px;">
                            <div id="archives_top_div" class="msgs_holder hidden mini italic"></div>
                            <div id="archives_msgs_div" class="msgs_holder"></div>
                            <div id="archives_bottom_div" class="msgs_holder hidden mini italic"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>{% endcomment %}

    <!---empieza aqui--->
    <div id="msgs_div" class="msgs_holder"
         style="overflow-y: auto;height: 32rem;margin-top: 2.4rem;padding-right: 5px;">
        <div class="day_container">
            <div class="day_divider" id="day_divider_1475690976_000002"><i class="copy_only"><br>-----
            </i>
                <div class="day_divider_label">October 5th</div>
                <i class="copy_only"> -----</i></div>
            <div class="day_msgs">
                <ts-message id="msg_1475690976_000002" class="message feature_fix_files first">
                    <div class="action_hover_container"></div>

                    <div class="message_gutter">
                        <div class="message_icon">
                            <a href="#/blackmambasoft.slack.com/team/vbuilvicente"
                               class=" member_preview_link member_image thumb_36"
                               style="background-image: url('/static/images/ava_0022-48.png')"
                               aria-hidden="true"></a>

                        </div>
                        <a href="#/blackmambasoft.slack.com/archives/D2KQ7LY23/p1475690976000002"
                           class="timestamp ts_tip ts_tip_top ts_tip_float ts_tip_hidden ts_tip_multiline ts_tip_delay_300"><i
                                class="copy_only">[</i>2:09 PM<i class="copy_only">]</i><span
                                class="ts_tip_tip"><span class="ts_tip_multiline_inner">Open in archives<br><span
                                class="subtle_silver">Oct&nbsp;5th&nbsp;at&nbsp;2:09:36&nbsp;PM</span></span></span></a>
                                            <span class="message_star_holder">
                                                <button class="star ts_icon ts_icon_star_o ts_icon_inherit star_message ts_tip ts_tip_top ts_tip_float ts_tip_hidden btn_unstyle">
                                                    <span class="ts_tip_tip">Star this message</span></button></span>
                    </div>

                    <div class="message_content ">
                        <a href="#/blackmambasoft.slack.com/team/vbuilvicente"
                           class="message_sender member member_preview_link color_9f69e7">vbuilvicente</a>
                        <a href="#/blackmambasoft.slack.com/archives/D2KQ7LY23/p1475690976000002"
                           class="timestamp ts_tip ts_tip_top ts_tip_float ts_tip_hidden ts_tip_multiline ts_tip_delay_300"><i
                                class="copy_only">[</i>2:09 PM<i class="copy_only">]</i><span
                                class="ts_tip_tip"><span class="ts_tip_multiline_inner">Open in archives<br><span
                                class="subtle_silver">Oct&nbsp;5th&nbsp;at&nbsp;2:09:36&nbsp;PM</span></span></span></a>

                                            <span class="message_star_holder">
                                                <button class="star ts_icon ts_icon_star_o ts_icon_inherit star_message ts_tip ts_tip_top ts_tip_float ts_tip_hidden btn_unstyle">
                                                    <span class="ts_tip_tip">Star this message</span></button></span>
                        <span class="message_body">hola julio</span>

                        <div class="rxn_panel "></div>
                        <i class="copy_only"><br></i>

                                            <span id="msg_1475690976_000002_label" class="message_aria_label hidden">
                                                <strong>vbuilvicente</strong>.
                                                hola julio.
                                                 replies
                                                two oh-nine PM.
                                            </span>

                    </div>

                </ts-message>
                <ts-message id="msg_1475690990_000003" class="message feature_fix_files first">
                    <div class="action_hover_container"></div>

                    <div class="message_gutter">
                        <div class="message_icon">
                            <a href="#/blackmambasoft.slack.com/team/jeriverom"
                               class=" member_preview_link member_image thumb_36"
                               style="background-image: url('/static/images/ava_0022-48.png')"
                               aria-hidden="true"></a>

                        </div>
                        <a href="#/blackmambasoft.slack.com/archives/D2KQ7LY23/p1475690990000003"
                           class="timestamp ts_tip ts_tip_top ts_tip_float ts_tip_hidden ts_tip_multiline ts_tip_delay_300"><i
                                class="copy_only">[</i>2:09 PM<i class="copy_only">]</i><span
                                class="ts_tip_tip"><span class="ts_tip_multiline_inner">Open in archives<br><span
                                class="subtle_silver">Oct&nbsp;5th&nbsp;at&nbsp;2:09:50&nbsp;PM</span></span></span></a>
                                            <span class="message_star_holder">
                                                <button data-msg-id="1475690990.000003"
                                                        class="star ts_icon ts_icon_star_o ts_icon_inherit star_message ts_tip ts_tip_top ts_tip_float ts_tip_hidden btn_unstyle">
                                                    <span class="ts_tip_tip">Star this message</span></button></span>
                    </div>

                    <div class="message_content ">
                        <a href="#/blackmambasoft.slack.com/team/jeriverom"
                           class="message_sender member member_preview_link color_U2KQ35L2Z color_4bbe2e">jeriverom</a>

                        <i class="copy_only">[</i>2:09 PM<i class="copy_only">]</i>
                                            <span class="ts_tip_tip">
                                                <span class="ts_tip_multiline_inner">Open in archives<br>
                                                    <span class="subtle_silver">Oct&nbsp;5th&nbsp;at&nbsp;2:09:50&nbsp;PM</span>
                                                </span>
                                            </span>

                                            <span class="message_star_holder">
                                                <button class="star ts_icon ts_icon_star_o ts_icon_inherit star_message ts_tip ts_tip_top ts_tip_float ts_tip_hidden btn_unstyle">
                                                    <span class="ts_tip_tip">Star this message</span></button></span>
                        <span class="message_body">chama este es &nbsp;la app</span>
                        <div class="rxn_panel"></div>
                        <i class="copy_only"><br></i>
                                            <span id="msg_1475690990_000003_label" class="message_aria_label hidden">
                                                <strong>jeriverom</strong>.
                                                chama este es &nbsp;la app.
                                                 replies
                                                two oh-nine PM.
                                            </span>
                    </div>
                </ts-message>
                <div id="msgs_unread_divider" class="unread_divider adjacent_to_date no_unreads">
                    <hr role="separator" aria-hidden="true">

                </div>
            </div>
        </div>
        <div class="day_container">
            <div class="day_divider" id="day_divider_1475809819_000002"><i class="copy_only"><br>-----
            </i>
                <div class="day_divider_label">October 6th</div>
                <i class="copy_only"> -----</i></div>
            <div class="day_msgs">
                <ts-message id="msg_1475809819_000002"
                            class="message feature_fix_files first file_reference file_share">
                    <div class="action_hover_container">
                        <a class="ts_icon ts_icon_small_reaction ts_tip ts_tip_top ts_tip_float ts_tip_delay_60"
                           title="Add reaction …"></a>
                        <a class="ts_icon ts_icon_share_action ts_tip ts_tip_top ts_tip_float ts_tip_delay_60"
                           title="Share file …"></a>
                        <a class="ts_icon ts_icon_small_ellipsis ts_tip ts_tip_top ts_tip_float ts_tip_delay_60"
                           title="Show message actions"></a>
                    </div>

                    <div class="message_gutter">
                        <div class="message_icon">
                            <a href="#/blackmambasoft.slack.com/team/vbuilvicente"
                               class=" member_preview_link member_image thumb_36"
                               style="background-image: url('/static/images/ava_0022-48.png')"
                               aria-hidden="true"></a>

                        </div>
                        <a href="#/blackmambasoft.slack.com/archives/D2KQ7LY23/p1475809819000002"
                           class="timestamp ts_tip ts_tip_top ts_tip_float ts_tip_hidden ts_tip_multiline ts_tip_delay_300"><i
                                class="copy_only">[</i>11:10 PM<i class="copy_only">]</i><span
                                class="ts_tip_tip"><span class="ts_tip_multiline_inner">Open in archives<br><span
                                class="subtle_silver">Oct&nbsp;6th&nbsp;at&nbsp;11:10:19&nbsp;PM</span></span></span></a>
                                            <span class="message_star_holder">
                                                <button class="star ts_icon ts_icon_star_o ts_icon_inherit star_file ts_tip ts_tip_top ts_tip_float ts_tip_hidden btn_unstyle">
                                                    <span class="ts_tip_tip" data-tip-toggle-auto="Unstar this file">Star this file</span>
                                                </button>
                                            </span>
                    </div>

                    <div class="message_content ">
                        <a href="#/blackmambasoft.slack.com/team/vbuilvicente"
                           class="message_sender member member_preview_link color_9f69e7">vbuilvicente</a>
                        <a href="/blackmambasoft.slack.com/archives/D2KQ7LY23/p1475809819000002"
                           class="timestamp ts_tip ts_tip_top ts_tip_float ts_tip_hidden ts_tip_multiline ts_tip_delay_300"><i
                                class="copy_only">[</i>11:10 PM<i class="copy_only">]</i><span
                                class="ts_tip_tip"><span class="ts_tip_multiline_inner">Open in archives<br><span
                                class="subtle_silver">Oct&nbsp;6th&nbsp;at&nbsp;11:10:19&nbsp;PM</span></span></span></a>

                                            <span class="message_star_holder">
                                                <button class="star ts_icon ts_icon_star_o ts_icon_inherit star_file ts_tip ts_tip_top ts_tip_float ts_tip_hidden btn_unstyle">
                                                    <span class="ts_tip_tip">Star this file</span>
                                                </button>
                                            </span>

                                            <span class="meta message_body  msg_inline_file_preview_toggler expanded">
                                                <a href="#/blackmambasoft.slack.com/files/vbuilvicente/F2LG8KXR8/dsfdsf"
                                                   target="$/blackmambasoft.slack.com/files/vbuilvicente/F2LG8KXR8/dsfdsf">
                                                    shared a post
                                                    <span class="msg_inline_file_title_hider">:
                                                            <span class="file_preview_link no_jumbomoji file_force_flexpane bold msg_inline_file_preview_title">dsfdsf</span>
                                                    </span>
                                                    <ts-icon class="msg_inline_media_toggler"></ts-icon>
                                                </a>
                                            </span>


                        <div class="file_container post_container">
                            <div class="file_header post_header">
                                <i class="file_header_icon post_header_icon ts_icon ts_icon_file_text_post"></i>
                                <h4 class="file_header_title post_header_title overflow_ellipsis">
                                    dsfdsf</h4>
                                <p class="file_header_meta post_header_meta">
                                    Last edited <span class="file_time_ago">8 days ago</span>
                                </p>
                            </div>

                            <div class="file_body post_body"><p>fdsfsdfdsfdsfds</p></div>

                            <div class="preview_actions">
                                <a class="file_preview_action preview_show_less_header btn btn_outline btn_icon ts_icon ts_icon_collapse_vertical ts_tip ts_tip_top ts_tip_float ts_tip_delay_300"
                                   title="Collapse"></a>

                                <a class="file_preview_action file_new_window_link btn btn_outline btn_icon ts_icon ts_icon_external_link ts_tip ts_tip_top ts_tip_float ts_tip_delay_300 ts_tip_hidden"
                                   href="#/blackmambasoft.slack.com/files/vbuilvicente/F2LG8KXR8/dsfdsf">
                                    <span class="ts_tip_tip">Open in new window</span>
                                </a>
                                <a class="file_preview_action file_actions btn btn_outline btn_icon ts_icon ts_icon_ellipsis ts_tip ts_tip_top ts_tip_float ts_tip_delay_300"
                                   title="More actions"></a>
                                <a href="#/blackmambasoft.slack.com/files/vbuilvicente/F2LG8KXR8/dsfdsf"
                                   class="file_preview_action btn btn_outline file_preview_link file_comment_link file_force_flexpane">
                                    <span>Add Comment</span>
                                </a>
                            </div>
                            <div class="preview_show preview_show_more">
                                <div class="preview_show_center">
                                    <button class="preview_show_btn">
                                        <i class="ts_icon ts_icon_plus_small"></i>
                                        Click to expand inline
                                    </button>
                                </div>
                            </div>
                            <div class="preview_show preview_show_less">
                                <button class="preview_show_btn">Collapse<i
                                        class="ts_icon ts_icon_arrow_up_medium"></i></button>
                            </div>
                        </div>

                        <div class="rxn_panel"></div>
                        <i class="copy_only"><br></i>

                                            <span id="msg_1475809819_000002_label" class="message_aria_label hidden">
                                                <strong>vbuilvicente</strong>.
                                                <a href="#/blackmambasoft.slack.com/team/vbuilvicente"
                                                   class="internal_member_link">@vbuilvicente</a> shared a file:
                                                <a href="#/blackmambasoft.slack.com/files/vbuilvicente/F2LG8KXR8/dsfdsf"
                                                   target="_blank" class="file_preview_link no_jumbomoji">dsfdsf</a>.
                                                 replies eleven ten PM.
                                            </span>
                    </div>
                </ts-message>
            </div>
        </div>
        <div class="day_container">
            <div class="day_divider" id="day_divider_1475690976_000002"><i class="copy_only"><br>-----
            </i>
                <div class="day_divider_label">October 5th</div>
                <i class="copy_only"> -----</i></div>
            <div class="day_msgs">
                <ts-message id="msg_1475690976_000002" class="message feature_fix_files first">
                    <div class="action_hover_container"></div>

                    <div class="message_gutter">
                        <div class="message_icon">
                            <a href="#/blackmambasoft.slack.com/team/vbuilvicente"
                               class=" member_preview_link member_image thumb_36"
                               style="background-image: url('/static/images/ava_0022-48.png')"
                               aria-hidden="true"></a>

                        </div>
                        <a href="#/blackmambasoft.slack.com/archives/D2KQ7LY23/p1475690976000002"
                           class="timestamp ts_tip ts_tip_top ts_tip_float ts_tip_hidden ts_tip_multiline ts_tip_delay_300"><i
                                class="copy_only">[</i>2:09 PM<i class="copy_only">]</i><span
                                class="ts_tip_tip"><span class="ts_tip_multiline_inner">Open in archives<br><span
                                class="subtle_silver">Oct&nbsp;5th&nbsp;at&nbsp;2:09:36&nbsp;PM</span></span></span></a>
                                            <span class="message_star_holder">
                                                <button class="star ts_icon ts_icon_star_o ts_icon_inherit star_message ts_tip ts_tip_top ts_tip_float ts_tip_hidden btn_unstyle">
                                                    <span class="ts_tip_tip">Star this message</span></button></span>
                    </div>

                    <div class="message_content ">
                        <a href="#/blackmambasoft.slack.com/team/vbuilvicente"
                           class="message_sender member member_preview_link color_9f69e7">vbuilvicente</a>
                        <a href="#/blackmambasoft.slack.com/archives/D2KQ7LY23/p1475690976000002"
                           class="timestamp ts_tip ts_tip_top ts_tip_float ts_tip_hidden ts_tip_multiline ts_tip_delay_300"><i
                                class="copy_only">[</i>2:09 PM<i class="copy_only">]</i><span
                                class="ts_tip_tip"><span class="ts_tip_multiline_inner">Open in archives<br><span
                                class="subtle_silver">Oct&nbsp;5th&nbsp;at&nbsp;2:09:36&nbsp;PM</span></span></span></a>

                                            <span class="message_star_holder">
                                                <button class="star ts_icon ts_icon_star_o ts_icon_inherit star_message ts_tip ts_tip_top ts_tip_float ts_tip_hidden btn_unstyle">
                                                    <span class="ts_tip_tip">Star this message</span></button></span>
                        <span class="message_body">hola julio</span>

                        <div class="rxn_panel "></div>
                        <i class="copy_only"><br></i>

                                            <span id="msg_1475690976_000002_label" class="message_aria_label hidden">
                                                <strong>vbuilvicente</strong>.
                                                hola julio.
                                                 replies
                                                two oh-nine PM.
                                            </span>

                    </div>

                </ts-message>
                <ts-message id="msg_1475690990_000003" class="message feature_fix_files first">
                    <div class="action_hover_container"></div>

                    <div class="message_gutter">
                        <div class="message_icon">
                            <a href="#/blackmambasoft.slack.com/team/jeriverom"
                               class=" member_preview_link member_image thumb_36"
                               style="background-image: url('/static/images/ava_0022-48.png')"
                               aria-hidden="true"></a>

                        </div>
                        <a href="#/blackmambasoft.slack.com/archives/D2KQ7LY23/p1475690990000003"
                           class="timestamp ts_tip ts_tip_top ts_tip_float ts_tip_hidden ts_tip_multiline ts_tip_delay_300"><i
                                class="copy_only">[</i>2:09 PM<i class="copy_only">]</i><span
                                class="ts_tip_tip"><span class="ts_tip_multiline_inner">Open in archives<br><span
                                class="subtle_silver">Oct&nbsp;5th&nbsp;at&nbsp;2:09:50&nbsp;PM</span></span></span></a>
                                            <span class="message_star_holder">
                                                <button data-msg-id="1475690990.000003"
                                                        class="star ts_icon ts_icon_star_o ts_icon_inherit star_message ts_tip ts_tip_top ts_tip_float ts_tip_hidden btn_unstyle">
                                                    <span class="ts_tip_tip">Star this message</span></button></span>
                    </div>

                    <div class="message_content ">
                        <a href="#/blackmambasoft.slack.com/team/jeriverom"
                           class="message_sender member member_preview_link color_U2KQ35L2Z color_4bbe2e">jeriverom</a>

                        <i class="copy_only">[</i>2:09 PM<i class="copy_only">]</i>
                                            <span class="ts_tip_tip">
                                                <span class="ts_tip_multiline_inner">Open in archives<br>
                                                    <span class="subtle_silver">Oct&nbsp;5th&nbsp;at&nbsp;2:09:50&nbsp;PM</span>
                                                </span>
                                            </span>

                                            <span class="message_star_holder">
                                                <button class="star ts_icon ts_icon_star_o ts_icon_inherit star_message ts_tip ts_tip_top ts_tip_float ts_tip_hidden btn_unstyle">
                                                    <span class="ts_tip_tip">Star this message</span></button></span>
                        <span class="message_body">chama este es &nbsp;la app</span>
                        <div class="rxn_panel"></div>
                        <i class="copy_only"><br></i>
                                            <span id="msg_1475690990_000003_label" class="message_aria_label hidden">
                                                <strong>jeriverom</strong>.
                                                chama este es &nbsp;la app.
                                                 replies
                                                two oh-nine PM.
                                            </span>
                    </div>
                </ts-message>
                <div id="msgs_unread_divider" class="unread_divider adjacent_to_date no_unreads">
                    <hr role="separator" aria-hidden="true">

                </div>
            </div>
        </div>
        <div class="day_container">
            <div class="day_divider" id="day_divider_1475809819_000002"><i class="copy_only"><br>-----
            </i>
                <div class="day_divider_label">October 6th</div>
                <i class="copy_only"> -----</i></div>
            <div class="day_msgs">
                <ts-message id="msg_1475809819_000002"
                            class="message feature_fix_files first file_reference file_share">
                    <div class="action_hover_container">
                        <a class="ts_icon ts_icon_small_reaction ts_tip ts_tip_top ts_tip_float ts_tip_delay_60"
                           title="Add reaction …"></a>
                        <a class="ts_icon ts_icon_share_action ts_tip ts_tip_top ts_tip_float ts_tip_delay_60"
                           title="Share file …"></a>
                        <a class="ts_icon ts_icon_small_ellipsis ts_tip ts_tip_top ts_tip_float ts_tip_delay_60"
                           title="Show message actions"></a>
                    </div>

                    <div class="message_gutter">
                        <div class="message_icon">
                            <a href="#/blackmambasoft.slack.com/team/vbuilvicente"
                               class=" member_preview_link member_image thumb_36"
                               style="background-image: url('/static/images/ava_0022-48.png')"
                               aria-hidden="true"></a>

                        </div>
                        <a href="#/blackmambasoft.slack.com/archives/D2KQ7LY23/p1475809819000002"
                           class="timestamp ts_tip ts_tip_top ts_tip_float ts_tip_hidden ts_tip_multiline ts_tip_delay_300"><i
                                class="copy_only">[</i>11:10 PM<i class="copy_only">]</i><span
                                class="ts_tip_tip"><span class="ts_tip_multiline_inner">Open in archives<br><span
                                class="subtle_silver">Oct&nbsp;6th&nbsp;at&nbsp;11:10:19&nbsp;PM</span></span></span></a>
                                            <span class="message_star_holder">
                                                <button class="star ts_icon ts_icon_star_o ts_icon_inherit star_file ts_tip ts_tip_top ts_tip_float ts_tip_hidden btn_unstyle">
                                                    <span class="ts_tip_tip" data-tip-toggle-auto="Unstar this file">Star this file</span>
                                                </button>
                                            </span>
                    </div>

                    <div class="message_content ">
                        <a href="#/blackmambasoft.slack.com/team/vbuilvicente"
                           class="message_sender member member_preview_link color_9f69e7">vbuilvicente</a>
                        <a href="/blackmambasoft.slack.com/archives/D2KQ7LY23/p1475809819000002"
                           class="timestamp ts_tip ts_tip_top ts_tip_float ts_tip_hidden ts_tip_multiline ts_tip_delay_300"><i
                                class="copy_only">[</i>11:10 PM<i class="copy_only">]</i><span
                                class="ts_tip_tip"><span class="ts_tip_multiline_inner">Open in archives<br><span
                                class="subtle_silver">Oct&nbsp;6th&nbsp;at&nbsp;11:10:19&nbsp;PM</span></span></span></a>

                                            <span class="message_star_holder">
                                                <button class="star ts_icon ts_icon_star_o ts_icon_inherit star_file ts_tip ts_tip_top ts_tip_float ts_tip_hidden btn_unstyle">
                                                    <span class="ts_tip_tip">Star this file</span>
                                                </button>
                                            </span>

                                            <span class="meta message_body  msg_inline_file_preview_toggler expanded">
                                                <a href="#/blackmambasoft.slack.com/files/vbuilvicente/F2LG8KXR8/dsfdsf"
                                                   target="$/blackmambasoft.slack.com/files/vbuilvicente/F2LG8KXR8/dsfdsf">
                                                    shared a post
                                                    <span class="msg_inline_file_title_hider">:
                                                            <span class="file_preview_link no_jumbomoji file_force_flexpane bold msg_inline_file_preview_title">dsfdsf</span>
                                                    </span>
                                                    <ts-icon class="msg_inline_media_toggler"></ts-icon>
                                                </a>
                                            </span>


                        <div class="file_container post_container">
                            <div class="file_header post_header">
                                <i class="file_header_icon post_header_icon ts_icon ts_icon_file_text_post"></i>
                                <h4 class="file_header_title post_header_title overflow_ellipsis">
                                    dsfdsf</h4>
                                <p class="file_header_meta post_header_meta">
                                    Last edited <span class="file_time_ago">8 days ago</span>
                                </p>
                            </div>

                            <div class="file_body post_body"><p>fdsfsdfdsfdsfds</p></div>

                            <div class="preview_actions">
                                <a class="file_preview_action preview_show_less_header btn btn_outline btn_icon ts_icon ts_icon_collapse_vertical ts_tip ts_tip_top ts_tip_float ts_tip_delay_300"
                                   title="Collapse"></a>

                                <a class="file_preview_action file_new_window_link btn btn_outline btn_icon ts_icon ts_icon_external_link ts_tip ts_tip_top ts_tip_float ts_tip_delay_300 ts_tip_hidden"
                                   href="#/blackmambasoft.slack.com/files/vbuilvicente/F2LG8KXR8/dsfdsf">
                                    <span class="ts_tip_tip">Open in new window</span>
                                </a>
                                <a class="file_preview_action file_actions btn btn_outline btn_icon ts_icon ts_icon_ellipsis ts_tip ts_tip_top ts_tip_float ts_tip_delay_300"
                                   title="More actions"></a>
                                <a href="#/blackmambasoft.slack.com/files/vbuilvicente/F2LG8KXR8/dsfdsf"
                                   class="file_preview_action btn btn_outline file_preview_link file_comment_link file_force_flexpane">
                                    <span>Add Comment</span>
                                </a>
                            </div>
                            <div class="preview_show preview_show_more">
                                <div class="preview_show_center">
                                    <button class="preview_show_btn">
                                        <i class="ts_icon ts_icon_plus_small"></i>
                                        Click to expand inline
                                    </button>
                                </div>
                            </div>
                            <div class="preview_show preview_show_less">
                                <button class="preview_show_btn">Collapse<i
                                        class="ts_icon ts_icon_arrow_up_medium"></i></button>
                            </div>
                        </div>

                        <div class="rxn_panel"></div>
                        <i class="copy_only"><br></i>

                                            <span id="msg_1475809819_000002_label" class="message_aria_label hidden">
                                                <strong>vbuilvicente</strong>.
                                                <a href="#/blackmambasoft.slack.com/team/vbuilvicente"
                                                   class="internal_member_link">@vbuilvicente</a> shared a file:
                                                <a href="#/blackmambasoft.slack.com/files/vbuilvicente/F2LG8KXR8/dsfdsf"
                                                   target="_blank" class="file_preview_link no_jumbomoji">dsfdsf</a>.
                                                 replies eleven ten PM.
                                            </span>
                    </div>
                </ts-message>
            </div>
        </div>
        <div class="day_container">
            <div class="day_divider" id="day_divider_1475690976_000002"><i class="copy_only"><br>-----
            </i>
                <div class="day_divider_label">October 5th</div>
                <i class="copy_only"> -----</i></div>
            <div class="day_msgs">
                <ts-message id="msg_1475690976_000002" class="message feature_fix_files first">
                    <div class="action_hover_container"></div>

                    <div class="message_gutter">
                        <div class="message_icon">
                            <a href="#/blackmambasoft.slack.com/team/vbuilvicente"
                               class=" member_preview_link member_image thumb_36"
                               style="background-image: url('/static/images/ava_0022-48.png')"
                               aria-hidden="true"></a>

                        </div>
                        <a href="#/blackmambasoft.slack.com/archives/D2KQ7LY23/p1475690976000002"
                           class="timestamp ts_tip ts_tip_top ts_tip_float ts_tip_hidden ts_tip_multiline ts_tip_delay_300"><i
                                class="copy_only">[</i>2:09 PM<i class="copy_only">]</i><span
                                class="ts_tip_tip"><span class="ts_tip_multiline_inner">Open in archives<br><span
                                class="subtle_silver">Oct&nbsp;5th&nbsp;at&nbsp;2:09:36&nbsp;PM</span></span></span></a>
                                            <span class="message_star_holder">
                                                <button class="star ts_icon ts_icon_star_o ts_icon_inherit star_message ts_tip ts_tip_top ts_tip_float ts_tip_hidden btn_unstyle">
                                                    <span class="ts_tip_tip">Star this message</span></button></span>
                    </div>

                    <div class="message_content ">
                        <a href="#/blackmambasoft.slack.com/team/vbuilvicente"
                           class="message_sender member member_preview_link color_9f69e7">vbuilvicente</a>
                        <a href="#/blackmambasoft.slack.com/archives/D2KQ7LY23/p1475690976000002"
                           class="timestamp ts_tip ts_tip_top ts_tip_float ts_tip_hidden ts_tip_multiline ts_tip_delay_300"><i
                                class="copy_only">[</i>2:09 PM<i class="copy_only">]</i><span
                                class="ts_tip_tip"><span class="ts_tip_multiline_inner">Open in archives<br><span
                                class="subtle_silver">Oct&nbsp;5th&nbsp;at&nbsp;2:09:36&nbsp;PM</span></span></span></a>

                                            <span class="message_star_holder">
                                                <button class="star ts_icon ts_icon_star_o ts_icon_inherit star_message ts_tip ts_tip_top ts_tip_float ts_tip_hidden btn_unstyle">
                                                    <span class="ts_tip_tip">Star this message</span></button></span>
                        <span class="message_body">hola julio</span>

                        <div class="rxn_panel "></div>
                        <i class="copy_only"><br></i>

                                            <span id="msg_1475690976_000002_label" class="message_aria_label hidden">
                                                <strong>vbuilvicente</strong>.
                                                hola julio.
                                                 replies
                                                two oh-nine PM.
                                            </span>

                    </div>

                </ts-message>
                <ts-message id="msg_1475690990_000003" class="message feature_fix_files first">
                    <div class="action_hover_container"></div>

                    <div class="message_gutter">
                        <div class="message_icon">
                            <a href="#/blackmambasoft.slack.com/team/jeriverom"
                               class=" member_preview_link member_image thumb_36"
                               style="background-image: url('/static/images/ava_0022-48.png')"
                               aria-hidden="true"></a>

                        </div>
                        <a href="#/blackmambasoft.slack.com/archives/D2KQ7LY23/p1475690990000003"
                           class="timestamp ts_tip ts_tip_top ts_tip_float ts_tip_hidden ts_tip_multiline ts_tip_delay_300"><i
                                class="copy_only">[</i>2:09 PM<i class="copy_only">]</i><span
                                class="ts_tip_tip"><span class="ts_tip_multiline_inner">Open in archives<br><span
                                class="subtle_silver">Oct&nbsp;5th&nbsp;at&nbsp;2:09:50&nbsp;PM</span></span></span></a>
                                            <span class="message_star_holder">
                                                <button data-msg-id="1475690990.000003"
                                                        class="star ts_icon ts_icon_star_o ts_icon_inherit star_message ts_tip ts_tip_top ts_tip_float ts_tip_hidden btn_unstyle">
                                                    <span class="ts_tip_tip">Star this message</span></button></span>
                    </div>

                    <div class="message_content ">
                        <a href="#/blackmambasoft.slack.com/team/jeriverom"
                           class="message_sender member member_preview_link color_U2KQ35L2Z color_4bbe2e">jeriverom</a>

                        <i class="copy_only">[</i>2:09 PM<i class="copy_only">]</i>
                                            <span class="ts_tip_tip">
                                                <span class="ts_tip_multiline_inner">Open in archives<br>
                                                    <span class="subtle_silver">Oct&nbsp;5th&nbsp;at&nbsp;2:09:50&nbsp;PM</span>
                                                </span>
                                            </span>

                                            <span class="message_star_holder">
                                                <button class="star ts_icon ts_icon_star_o ts_icon_inherit star_message ts_tip ts_tip_top ts_tip_float ts_tip_hidden btn_unstyle">
                                                    <span class="ts_tip_tip">Star this message</span></button></span>
                        <span class="message_body">chama este es &nbsp;la app</span>
                        <div class="rxn_panel"></div>
                        <i class="copy_only"><br></i>
                                            <span id="msg_1475690990_000003_label" class="message_aria_label hidden">
                                                <strong>jeriverom</strong>.
                                                chama este es &nbsp;la app.
                                                 replies
                                                two oh-nine PM.
                                            </span>
                    </div>
                </ts-message>
                <div id="msgs_unread_divider" class="unread_divider adjacent_to_date no_unreads">
                    <hr role="separator" aria-hidden="true">

                </div>
            </div>
        </div>
        <div class="day_container">
            <div class="day_divider" id="day_divider_1475809819_000002"><i class="copy_only"><br>-----
            </i>
                <div class="day_divider_label">October 6th</div>
                <i class="copy_only"> -----</i></div>
            <div class="day_msgs">
                <ts-message id="msg_1475809819_000002"
                            class="message feature_fix_files first file_reference file_share">
                    <div class="action_hover_container">
                        <a class="ts_icon ts_icon_small_reaction ts_tip ts_tip_top ts_tip_float ts_tip_delay_60"
                           title="Add reaction …"></a>
                        <a class="ts_icon ts_icon_share_action ts_tip ts_tip_top ts_tip_float ts_tip_delay_60"
                           title="Share file …"></a>
                        <a class="ts_icon ts_icon_small_ellipsis ts_tip ts_tip_top ts_tip_float ts_tip_delay_60"
                           title="Show message actions"></a>
                    </div>

                    <div class="message_gutter">
                        <div class="message_icon">
                            <a href="#/blackmambasoft.slack.com/team/vbuilvicente"
                               class=" member_preview_link member_image thumb_36"
                               style="background-image: url('/static/images/ava_0022-48.png')"
                               aria-hidden="true"></a>

                        </div>
                        <a href="#/blackmambasoft.slack.com/archives/D2KQ7LY23/p1475809819000002"
                           class="timestamp ts_tip ts_tip_top ts_tip_float ts_tip_hidden ts_tip_multiline ts_tip_delay_300"><i
                                class="copy_only">[</i>11:10 PM<i class="copy_only">]</i><span
                                class="ts_tip_tip"><span class="ts_tip_multiline_inner">Open in archives<br><span
                                class="subtle_silver">Oct&nbsp;6th&nbsp;at&nbsp;11:10:19&nbsp;PM</span></span></span></a>
                                            <span class="message_star_holder">
                                                <button class="star ts_icon ts_icon_star_o ts_icon_inherit star_file ts_tip ts_tip_top ts_tip_float ts_tip_hidden btn_unstyle">
                                                    <span class="ts_tip_tip" data-tip-toggle-auto="Unstar this file">Star this file</span>
                                                </button>
                                            </span>
                    </div>

                    <div class="message_content ">
                        <a href="#/blackmambasoft.slack.com/team/vbuilvicente"
                           class="message_sender member member_preview_link color_9f69e7">vbuilvicente</a>
                        <a href="/blackmambasoft.slack.com/archives/D2KQ7LY23/p1475809819000002"
                           class="timestamp ts_tip ts_tip_top ts_tip_float ts_tip_hidden ts_tip_multiline ts_tip_delay_300"><i
                                class="copy_only">[</i>11:10 PM<i class="copy_only">]</i><span
                                class="ts_tip_tip"><span class="ts_tip_multiline_inner">Open in archives<br><span
                                class="subtle_silver">Oct&nbsp;6th&nbsp;at&nbsp;11:10:19&nbsp;PM</span></span></span></a>

                                            <span class="message_star_holder">
                                                <button class="star ts_icon ts_icon_star_o ts_icon_inherit star_file ts_tip ts_tip_top ts_tip_float ts_tip_hidden btn_unstyle">
                                                    <span class="ts_tip_tip">Star this file</span>
                                                </button>
                                            </span>

                                            <span class="meta message_body  msg_inline_file_preview_toggler expanded">
                                                <a href="#/blackmambasoft.slack.com/files/vbuilvicente/F2LG8KXR8/dsfdsf"
                                                   target="$/blackmambasoft.slack.com/files/vbuilvicente/F2LG8KXR8/dsfdsf">
                                                    shared a post
                                                    <span class="msg_inline_file_title_hider">:
                                                            <span class="file_preview_link no_jumbomoji file_force_flexpane bold msg_inline_file_preview_title">dsfdsf</span>
                                                    </span>
                                                    <ts-icon class="msg_inline_media_toggler"></ts-icon>
                                                </a>
                                            </span>


                        <div class="file_container post_container">
                            <div class="file_header post_header">
                                <i class="file_header_icon post_header_icon ts_icon ts_icon_file_text_post"></i>
                                <h4 class="file_header_title post_header_title overflow_ellipsis">
                                    dsfdsf</h4>
                                <p class="file_header_meta post_header_meta">
                                    Last edited <span class="file_time_ago">8 days ago</span>
                                </p>
                            </div>

                            <div class="file_body post_body"><p>fdsfsdfdsfdsfds</p></div>

                            <div class="preview_actions">
                                <a class="file_preview_action preview_show_less_header btn btn_outline btn_icon ts_icon ts_icon_collapse_vertical ts_tip ts_tip_top ts_tip_float ts_tip_delay_300"
                                   title="Collapse"></a>

                                <a class="file_preview_action file_new_window_link btn btn_outline btn_icon ts_icon ts_icon_external_link ts_tip ts_tip_top ts_tip_float ts_tip_delay_300 ts_tip_hidden"
                                   href="#/blackmambasoft.slack.com/files/vbuilvicente/F2LG8KXR8/dsfdsf">
                                    <span class="ts_tip_tip">Open in new window</span>
                                </a>
                                <a class="file_preview_action file_actions btn btn_outline btn_icon ts_icon ts_icon_ellipsis ts_tip ts_tip_top ts_tip_float ts_tip_delay_300"
                                   title="More actions"></a>
                                <a href="#/blackmambasoft.slack.com/files/vbuilvicente/F2LG8KXR8/dsfdsf"
                                   class="file_preview_action btn btn_outline file_preview_link file_comment_link file_force_flexpane">
                                    <span>Add Comment</span>
                                </a>
                            </div>
                            <div class="preview_show preview_show_more">
                                <div class="preview_show_center">
                                    <button class="preview_show_btn">
                                        <i class="ts_icon ts_icon_plus_small"></i>
                                        Click to expand inline
                                    </button>
                                </div>
                            </div>
                            <div class="preview_show preview_show_less">
                                <button class="preview_show_btn">Collapse<i
                                        class="ts_icon ts_icon_arrow_up_medium"></i></button>
                            </div>
                        </div>

                        <div class="rxn_panel"></div>
                        <i class="copy_only"><br></i>

                                            <span id="msg_1475809819_000002_label" class="message_aria_label hidden">
                                                <strong>vbuilvicente</strong>.
                                                <a href="#/blackmambasoft.slack.com/team/vbuilvicente"
                                                   class="internal_member_link">@vbuilvicente</a> shared a file:
                                                <a href="#/blackmambasoft.slack.com/files/vbuilvicente/F2LG8KXR8/dsfdsf"
                                                   target="_blank" class="file_preview_link no_jumbomoji">dsfdsf</a>.
                                                 replies eleven ten PM.
                                            </span>
                    </div>
                </ts-message>
            </div>
        </div>
        {% comment %}
            <div class="day_container">
                <div class="day_divider" id="day_divider_1476494459_xxxxx2">
                    <i class="copy_only"><br>----- </i>
                    <div class="day_divider_label" aria-label="Today">Today</div>
                    <i class="copy_only"> October 14th, 2016 -----</i>
                </div>
                <div class="day_msgs">
                    <ts-message class="message feature_fix_files bot_message first ephemeral">
                        <div class="action_hover_container"></div>
                        <div class="message_gutter">
                            <div class="message_icon">
                                <div class="member_image thumb_36">
                                    <span class="emoji-outer emoji-sizer"
                                          style="background: url({% static 'images/sheet_apple_64_indexed_256colors.png' %}) 57.5% 2.5%;background-size:4100%"></span>
                                </div>
                            </div>
                            <span class="timestamp ts_tip ts_tip_top ts_tip_float ts_tip_hidden ts_tip_multiline ts_tip_delay_300">
                                <i class="copy_only">[</i>9:20 PM<i class="copy_only">]</i>
                                <span class="ts_tip_tip">
                                    <span class="ts_tip_multiline_inner">Today&nbsp;at&nbsp;9:20:59&nbsp;PM</span></span>
                            </span>
                        </div>

                        <div class="message_content ">
                            <span class="message_sender color_bot_connectbot"> connectbot <span
                                    class="bot_label">BOT</span></span>
                            <span class="timestamp ts_tip ts_tip_top ts_tip_float ts_tip_hidden ts_tip_multiline ts_tip_delay_300"><i
                                    class="copy_only">[</i>9:20 PM<i class="copy_only">]</i><span
                                    class="ts_tip_tip"><span class="ts_tip_multiline_inner">Today&nbsp;at&nbsp;9:20:59&nbsp;PM</span></span></span>
                            <span class="only_visible_to_user">Only visible to you</span>
                            <span class="message_body">Hmm, you seem to be <b data-format-symbol="*">﻿⁠⁠⁠offline</b>﻿⁠⁠⁠, so sending messages won’t work at the moment.<span
                                    class="only_visible_to_user">Only visible to you</span></span>
                            <i class="copy_only"><br></i>

                            <span id="msg_1476494459_xxxxx2_label" class="message_aria_label hidden">
                                <strong>connectbot</strong>.
                                Hmm, you seem to be <b>﻿⁠⁠⁠offline</b>﻿⁠⁠⁠, so sending messages won’t work at the moment..
                                replies
                                nine twenty PM. Only visible to you.
                            </span>
                        </div>
                    </ts-message>
                </div>
            </div>{% endcomment %}
    </div>
    <!---Hasta aqui---->

    {% comment %}
        <div id="messages_unread_status" class="messages_banner flex_pane_showing quiet no_pointer_events no_opacity">
            <ts-icon class="new_msgs_arrow ts_icon_arrow_up hidden"></ts-icon>
            <span class="actual new_msgs_jump_link" style="display: none;">Jump</span>
            <span id="new_msg_info" class="overflow_ellipsis">1 new message since 11:10 PM on October 6th</span>
            <a class="clear_unread_messages ts_tip ts_tip_bottom ts_tip_right">
                <span class="ts_tip_tip">Mark as read (esc)</span>
                <span class="clear_unread_messages_text">Mark as read</span> <i
                    class="ts_icon ts_icon_times_small float_right"></i>
            </a>
        </div>

        <div id="file_progress" class="messages_banner hidden flex_pane_showing">
            <div class="progress_bar">
                <span class="progress_bar_progress_thin progress_bar_progress_striped"></span>
            </div>
            <div id="progress_text"></div>
        </div>{% endcomment %}

    {% comment %}
        <div id="connection_div" class="messages_banner flex_pane_showing" role="status" aria-live="assertive"
             aria-atomic="true">Reconnecting in 11 seconds... <a>Retry now?</a></div>{% endcomment %}

    {% comment %}
        <div id="archives_return" class="messages_banner messages_banner_bottom hidden flex_pane_showing"
             style="top: 568px;">
        <span id="archives_info" class="overflow_ellipsis">Viewing archives from
            <span id="archives_return_date"></span>
        </span>
            <a class="cancel_archives hidden">Jump to recent messages <i
                    class="ts_icon ts_icon_arrow_down float_right"></i></a>
        </div>{% endcomment %}
</div>