<header id="client_header">
    {% comment %}<div id="active_channel_name_overlay" class="onboarding_overlay"></div>{% endcomment %}
    <div id="team_menu">
        <button class="notifications_menu_btn ts_icon ts_icon_bell_o ts_tip ts_tip_bottom ts_tip_float btn_unstyle"
                aria-label="Notifications Menu">
            <span class="notifications_menu_tip ts_tip_tip">Notifications</span>
        </button>
        <div class="team_name_container top_margin">
            <button class="ts_icon ts_icon_chevron_down team_name_caret btn_unstyle"></button>
            <span id="team_name" class="overflow_ellipsis">{{ request.user.user_profile.company.name }}</span>
        </div>
        <div id="team_menu_overlay" class="onboarding_overlay hidden">
            <div class="overlay_mock_text seventy_percent_width"></div>
        </div>
        <div id="presence_container" class="no_wrap ts_tip ts_tip_bottom ts_tip_left">
            <i id="presence" class="ts_icon ts_icon_presence connecting"></i>
            <span class="ts_tip_tip">connecting...</span>
        </div>
        <span id="team_header_user_name" class="current_user_name overflow_ellipsis">{{ request.user.username }}</span>
    </div>
    <div class="channel_header_refactor channel_header">
        <div class="messages_header">
            <div class="channel_title">
                <h2 id="channel_name_container" class="channel_name_container">
                    <span id="channel_name" class="channel_name">
                            <span id="channel_title"></span>
                    </span>
                    <div class="channel_actions_container">
                        <a id="mute_container" class="mute_container ts_tip ts_tip_bottom"></a>
                        {% comment %}<div id="star_container" class="star_container">
                            <button class="star ts_icon ts_icon_star_o ts_icon_inherit star_channel ts_tip ts_tip_top ts_tip_float ts_tip_hidden btn_unstyle">
                                <span class="ts_tip_tip">Star this channel</span>
                            </button>
                        </div>{% endcomment %}
                    </div>
                </h2>

                <!-- channel members -->
                <div id="channel_header_info">
                    <span id="channel_members_toggle_count"
                          class="blue_hover ts_tip ts_tip_bottom ts_tip_leftish"></span>
                    {% comment %}<span class="topic_divider">|</span>
                    <span id="topic_inline_edit" class="channel_topic inline_edit inline_edit_editable">
                    <span class="inline_edit_inner">
                        <span id="channel_topic_text" class="inline_edit_input no_jumbomoji">Company-wide announcements and work-based matters</span>
                    </span>{% endcomment %}
                    </span>
                </div>
            </div>

            <div class="channel_title_info">
                <!-- calls button -->
                <div id="channel_calls_container" class="channel_calls_container">
                    <button class="channel_header_icon channel_calls_button video_call  btn_unstyle ts_tip ts_tip_bottom ts_tip_multiline ts_tip_delay_300 blue_hover hidden">
                        <span class="ts_tip_tip">
                            <span class="ts_tip_multiline_inner">
                                Only paid teams can start calls from channels.
                            </span>
                        </span>
                        {#                        call_window_offline#}
                        <ts-icon class="call_icon  ts_icon_video_camera"
                                 aria-hidden="true"></ts-icon>
                    </button>
                    <button class="channel_header_icon channel_calls_button voice_call btn_unstyle ts_tip ts_tip_bottom ts_tip_multiline ts_tip_delay_300 blue_hover">
                        <span class="ts_tip_tip">
                            <span class="ts_tip_multiline_inner">
                                Only paid teams can start calls from channels.
                            </span>
                        </span>
                        <ts-icon class="call_icon  ts_icon_phone" aria-hidden="true"></ts-icon>
                    </button>
                </div>
                {% comment %}<button id="channel_actions_toggle"
                        class="btn_unstyle blue_hover channel_actions_toggle channel_header_icon ts_tip ts_tip_bottom">
                    <span class="ts_tip_tip">Channel Settings</span>
                    <ts-icon class="ts_icon_cog_o" aria-hidden="true"></ts-icon>
                </button>{% endcomment %}
                <button id="details_toggle"
                        class="channel_header_icon btn_unstyle blue_hover channel_details_toggle ts_tip ts_tip_bottom">
                    <span class="ts_tip_tip">Hide Channel Details</span>
                    <ts-icon class="ts_icon_side_panel" aria-hidden="true"></ts-icon>
                </button>
                <div class="divider_bar"></div>
            </div>
        </div>
        <div class="flex_header">
            <div id="search_container">
                <form role="search" id="header_search_form" class="search_form no_bottom_margin">
                    <i class="ts_icon ts_icon_search icon_search"></i>
                    <div class="highlighter_wrapper">
                        <input id="search_terms" class="search_input search_input_highlighted"
                               placeholder="Search" autocomplete="off" maxlength="250" type="text">
                        <div class="highlighter_underlay"><span class="ghost_text">&nbsp;&nbsp;</span></div>
                    </div>
                    <div class="search_clear_icon_wrapper">
                        <button type="button" id="search_clear" class="btn_unstyle search_clear_icon"
                                aria-label="Clear search field">
                            <ts-icon class="ts_icon_times_circle" aria-hidden="true"></ts-icon>
                        </button>
                    </div>
                    <div id="search_autocomplete_popover"
                         class="popover_menu popover_search_menu showing_header hidden">
                        <div class="popover_mask"></div>
                        <span class="arrow"></span>
                        <span class="arrow_shadow"></span>
                        <div id="autocomplete_menu" class="content search_menu">
                            <div data-toggle="datepicker" style="display: none">
                            </div>
                            <div class="monkey_scroll_wrapper">
                                <div class="autocomplete_menu_scrollable monkey_scroller"
                                     style="width: 353px;max-height: 232.8px;overflow-y: auto;">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            {% comment %}<button id="recent_mentions_toggle"
                    class="channel_header_icon btn_unstyle ts_tip ts_tip_bottom ts_tip_rightish">
                <span class="ts_tip_tip not_feature_message_replies_simple">Show Mentions &amp; Reactions</span>
                <ts-icon class="ts_icon_mentions" aria-hidden="true"></ts-icon>
            </button>{% endcomment %}
            <button id="stars_toggle" class="channel_header_icon btn_unstyle ts_tip ts_tip_bottom ts_tip_rightish">
                <span class="ts_tip_tip">Show Starred Items</span>
                <ts-icon class="ts_icon_star_o" aria-hidden="true"></ts-icon>
            </button>
            <button id="flex_menu_toggle"
                    class="channel_header_icon blue_hover btn_unstyle ts_tip ts_tip_bottom ts_tip_right">
                <span class="ts_tip_tip">More Items</span>
                <div id="whats_new_burst" class="all_read"></div>
                <ts-icon class="ts_icon_vertical_ellipsis" aria-hidden="true"></ts-icon>
                <span class="help_icon_icon" id="help_icon_circle_count">0</span>
                <div class="flex_menu_download_circle"></div>
            </button>
            <div id="rxn_toast_div" class="hidden ts_tip ts_tip_bottom"></div>
            <div id="rxn_toast_div" class="hidden ts_tip ts_tip_bottom"></div>
        </div>
    </div>
</header>