<div id="menu" class="menu menu_file_create hidden">
    <div class="popover_mask"></div>
    <div class="menu_content">
        <div id="menu_items_scroller">
            <ul id="menu_items" role="menu" no-bootstrap="1">
                <div class="section_header">
                    <hr>
                    <span class="header_label menu_mini">New...</span></div>
                <li data-which="snippet" class="file_menu_item">
                    <a target="_top" href="#/blackmambasoft.slack.com/files/create/snippet">
                        <i class="file_menu_icon ts_icon ts_icon_create_snippet"></i> Code or text snippet</a>
                </li>
                <li id="gdrive_create_submenu" class="file_menu_item has_submenu">
                    <a><i class="file_menu_icon ts_icon ts_icon_google_drive"></i> Google Docs file
                        <ts-icon class="ts_icon_caret_right submenu_caret"></ts-icon>
                    </a>
                </li>
                <li data-which="space" class="file_menu_item">
                    <a target="_top" href="#/blackmambasoft.slack.com/files/create/space">
                        <i class="file_menu_icon ts_icon ts_icon_create_post"></i> Post</a>
                </li>
                <div class="section_header">
                    <hr>
                    <span class="header_label menu_mini">Import a file from...</span></div>
                <li role="menuitem" data-which="gdrive_import">
                    <a><i class="file_menu_icon ts_icon ts_icon_google_drive"></i> Google Drive</a>
                </li>

                <li class="file_menu_item"><a>
                    <i class="file_menu_icon ts_icon ts_icon_laptop"></i> Your computer</a>
                </li>
            </ul>
        </div>
    </div>
</div>