{% extends 'site_template/base.html' %}
{% load staticfiles %}
{% block title %}Chat{% endblock %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/client/rollup-client_core.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/client/rollup-client_primary.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/client/rollup-client_general.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/client/rollup-client_secondary.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/client/incoming_call.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/chosen/chosen.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/codemirror/codemirror.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/codemirror/codemirror_override.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/libraries/jquery/datepicker/datepicker.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slack/main.css' %}">
{% endblock %}

{% block body_style %}feature_channel_name_menu light_theme{% endblock %}
{% block id_container %}client-ui{% endblock %}
{% block class_container %}container-fluid sidebar_theme_default {% endblock %}

{% block container %}
    <script>
        var userFileActive = userlogged, localtime = {% now 'U' %},
                sendTo = {type: '', to: ''},
                userImage = '{% if request.user.user_profile.image %}{{ request.user.user_profile.image.url }}{% endif %}',
                userProfile = "{% url 'account:profile' username=request.user.username %}";
    </script>
    {#    {% load socketio_tags %}#}
    {#    {% socketio %}#}
    {% include 'chat/header.html' %}
    {% include 'chat/footer.html' %}
    {% include 'chat/body.html' %}
    {% include 'chat/view_right.html' %}
    {% include 'chat/menu/menu.html' %}
    {% include 'chat/modals.html' %}
{% endblock %}

{% block footer %}
    {% include 'chat/modal/modal.html' %}
{% endblock %}

{% block js_libraries %}
    <script type="text/javascript" src="{% static 'js/site/file_components.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/site/chat_components.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/libraries/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libraries/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libraries/socket.io.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'js/libraries/bootstrap/bootstrap-client.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libraries/jquery/jquery.redirect.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/libraries/jquery/jquery-infinite-scroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/chosen/chosen.jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libraries/idle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/codemirror/codemirror.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/codemirror/codemirror_load.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/codemirror/addon/runmode/myrunmode.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libraries/jquery/datepicker/datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libraries/textarea-helper.js' %}"></script>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/site/chat.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/site/chat_file.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/site/chat_client.js' %}"></script>
{% endblock %}