{% extends 'site_template/base.html' %}
{% load staticfiles %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/client/rollup-client_core.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/client/rollup-client_primary.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/client/rollup-client_general.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/client/rollup-client_secondary.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/client/incoming_call.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slack/main.css' %}">
{% endblock %}

{% block body_style %}feature_channel_name_menu light_theme{% endblock %}
{% block id_container %}client-ui{% endblock %}
{% block class_container %}container-fluid sidebar_theme_default {% endblock %}

{% block container %}
    <script>
        var userFileActive = userlogged, localtime = {% now 'U' %}, sendTo = {type: '', to: ''};
    </script>
    {% load socketio_tags %}
    {% socketio %}
    {% include 'chat/header.html' %}
    {% include 'chat/footer.html' %}
    {% include 'chat/body.html' %}
    {% include 'chat/view_right.html' %}
    {% include 'chat/menu.html' %}
    {% include 'chat/menu_right.html' %}
    {% include 'chat/modals.html' %}
{% endblock %}

{% block js_libraries %}
    <script type="text/javascript" src="{% static 'js/libraries/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libraries/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libraries/bootstrap-client.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libraries/jquery-infinite-scroll.js' %}"></script>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/site/chat_components.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/site/chat.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/site/chat_file.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/site/chat_client.js' %}"></script>
{% endblock %}