{% load staticfiles %}
<div id="col_flex" style="z-index: 100;">
    <div id="flex_contents" role="complementary" class="tab_panels tab_container" style="opacity: 1;">

        <div class="panel" id="stars_tab" style="height: 615px;">
            <div class="heading" tabindex="-1">Starred Items
                <a class="close_flexpane" title="Close Flexpane">
                    <i class="ts_icon ts_icon_times"></i>
                </a>
            </div>
            <div id="monkey_scroll_wrapper_for_stars_scroller" class="monkey_scroll_wrapper ">
                <div class="monkey_scroll_bar hidden" style="margin-left: 4.5px; height: 516px;">
                    <div class="monkey_scroll_handle " style="left: -3px; height: 70px; top: 0px;">
                        <div class="monkey_scroll_handle_inner "></div>
                    </div>
                </div>
                <div class="monkey_scroll_hider" style="width: 100%;">
                    <div id="monkey_scroll_wrapper_for_stars_scroller" class="monkey_scroll_wrapper ">
                        <div class="monkey_scroll_bar  hidden" style="margin-left: 4.5px;">
                            <div class="monkey_scroll_handle " style="left: -3px;">
                                <div class="monkey_scroll_handle_inner "></div>
                            </div>
                        </div>
                        <div class="monkey_scroll_hider" style="width: 100%;">
                            <div id="stars_scroller" class="flex_content_scroller monkey_scroller"
                                 style="height: 522.2px; width: 0px;">
                                <div class="selectable_flex_pane_padder">
                                    <div id="member_stars_list"></div>
                                    <div id="member_stars_explanation" class="help">
                                        <p>You haven't starred any messages or files yet. Maybe now's the
                                            time to start? You can add a star to messages, files, snippets, posts,
                                            comments ... pretty much anything in Slack.</p>
                                        <p>Starring makes things easier to find: they'll show up right here in this
                                            list.</p>
                                    </div>
                                    <div id="member_stars_more" class="flexpane_load_more" style="visibility: hidden;">
                                        <button id="member_stars_more_btn"
                                                class="btn btn_outline ladda-button flexpane_load_more_btn">
                                            <span class="ladda-label">Load more...</span>
                                        </button>
                                    </div>
                                    <div id="member_stars_error" class="flexpane_load_error hidden">
                                        <p class="flexpane_load_error_msg">We're having trouble loading your Starred
                                            Items.</p>
                                        <button id="member_stars_error_btn"
                                                class="btn btn_outline ladda-button flexpane_load_more_btn">
                                            <span class="ladda-label">Try again?</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel" id="mentions_tab" style="height: 615px;">
            <div class="heading" tabindex="-1">
                Mentions &amp; Reactions <span id="mentions_spinner"></span>
                <a class="close_flexpane" title="Close Flexpane">
                    <i class="ts_icon ts_icon_times"></i>
                </a>
            </div>
            <div id="mentions_options" class="subheading "><p>
            <span id="mentions_filter_menu_label"
                  class="filter_menu_label cursor_pointer display_flex align_items_baseline">
                <span class="mentions_filter_menu_target tiny_right_margin bold">Include:</span>
                <span class="flex_one mentions_filter_menu_target tiny_left_margin search_filter_text">mentions, reactions, and User Group mentions <i
                        class="ts_icon ts_icon_chevron_down bold arrow_down tiny_left_margin"></i></span>
            </span>
            </p></div>
            <div id="monkey_scroll_wrapper_for_mentions_scroller" class="monkey_scroll_wrapper ">
                <div class="monkey_scroll_bar hidden" style="margin-left: 4.5px; height: 381px;">
                    <div class="monkey_scroll_handle " style="left: -3px; height: 70px; top: 0px;">
                        <div class="monkey_scroll_handle_inner "></div>
                    </div>
                </div>
                <div class="monkey_scroll_hider" style="width: 100%;">
                    <div id="monkey_scroll_wrapper_for_mentions_scroller" class="monkey_scroll_wrapper ">
                        <div class="monkey_scroll_bar  hidden" style="margin-left: 4.5px;">
                            <div class="monkey_scroll_handle " style="left: -3px;">
                                <div class="monkey_scroll_handle_inner "></div>
                            </div>
                        </div>
                        <div class="monkey_scroll_hider" style="width: 100%;">
                            <div id="mentions_scroller" class="flex_content_scroller monkey_scroller"
                                 style="height: 386.8px; width: 0px;">
                                <div class="selectable_flex_pane_padder">
                                    <div id="member_mentions"></div>
                                    <div id="member_mentions_explanation" class="help">
                                        <p>You don't have any mentions yet. When someone mentions you by
                                            name or uses one of your highlight words, that message will appear here.</p>
                                    </div>
                                    <div id="member_mentions_more" class="flexpane_load_more"
                                         style="visibility: hidden;">
                                        <button id="member_mentions_more_btn" class="btn btn_outline ladda-button">
                                            <span class="ladda-label">Load more...</span>
                                            <span class="ladda-spinner"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel" id="files_tab" style="height: 615px;">
            <div id="file_list_container">
                <div class="heading" tabindex="-1">
                    <a id="file_list_clear_filter" class="menu_icon hidden">
                        <i class="ts_icon ts_icon_times_circle"></i>
                    </a>
                    <a id="file_list_heading" class="menu_heading"><span class="heading_label">All File Types</span>
                        <i class="ts_icon ts_icon_caret_down"></i>
                    </a>
                    <a class="close_flexpane" title="Close Flexpane">
                        <i class="ts_icon ts_icon_times"></i>
                    </a>
                </div>
                <div class="toolbar_container">
                    <div class="toolbar clearfix">
                        <ul id="file_list_toggle" class="flexpane_tab_bar">
                            <li id="file_list_toggle_all"><a>Everyone</a></li>
                            <li id="file_list_toggle_user">
                                <i id="file_list_toggle_users" class="ts_icon ts_icon_caret_down"></i>
                                <a>Just You</a>
                            </li>
                        </ul>
                    </div>
                    {#                    {% include 'chat/menu/menu_list_users.html' %}#}
                </div>
                <div id="monkey_scroll_wrapper_for_file_list_scroller" class="monkey_scroll_wrapper ">
                    {% include 'chat/files_list.html' %}
                </div>
            </div>
            <div id="file_preview_container" class="hidden">
                <div class="heading">
                    <a id="back_from_file_preview">
                        <i class="ts_icon ts_icon_chevron_medium_left back_icon"></i>Files
                    </a>
                    <a class="close_flexpane" title="Close Flexpane">
                        <i class="ts_icon ts_icon_times"></i>
                    </a>
                </div>
                <div id="monkey_scroll_wrapper_for_file_preview_scroller" class="monkey_scroll_wrapper my-scroll"></div>
            </div>
        </div>

        <div class="panel" id="team_tab" style="height: 615px;">
            <div id="team_list_container" class="height: 615px;">
                <div class="heading" tabindex="-1">
                    Team Directory
                    <a class="close_flexpane" title="Close Flexpane">
                        <i class="ts_icon ts_icon_times"></i>
                    </a>
                    <a id="team_list_admin_link" href="#/admin"
                       class="ts_tip ts_tip_bottom float_right right_margin hidden">
                        <span class="ts_tip_tip">Manage team<br>members</span>
                        <ts-icon class="ts_icon_cog_o"></ts-icon>
                    </a>
                </div>
                <div class="team_tabs_container clearfix no_bottom_border">
                    <div id="team_tabs">
                        <ul class="flexpane_tab_bar small_top_margin lato no_bottom_margin bottom_border two_tabs">
                            <li id="active_members_tab" class="tab bold active" href="#active_members"><a>Members
                                <span class="normal">(<span id="active_members_count_value">2</span>)</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="monkey_scroll_wrapper_for_team_list_scroller">
                    <div id="active_members_list" class="flex_content_scroller"
                         style="overflow-y: auto; height: 30rem"></div>
                </div>
            </div>

            <div id="member_preview_container" class="hidden">
                <div class="heading">
                    <a onclick="return false;" id="back_from_member_preview"><i
                            class="ts_icon ts_icon_chevron_medium_left back_icon"></i> Team Directory</a>
                    <a class="close_flexpane" title="Close Flexpane" data-pannel="member_preview_container">
                        <i class="ts_icon ts_icon_times"></i>
                    </a>
                </div>
                <div id="monkey_scroll_wrapper_for_member_preview_scroller" class="monkey_scroll_wrapper ">
                    <div class="monkey_scroll_bar  hidden" style="margin-left: 379.5px;">
                        <div class="monkey_scroll_handle " style="left: -3px;">
                            <div class="monkey_scroll_handle_inner "></div>
                        </div>
                    </div>
                    <div class="monkey_scroll_hider" style="width: 100%;">
                        <div id="monkey_scroll_wrapper_for_member_preview_scroller" class="monkey_scroll_wrapper ">
                            <div class="monkey_scroll_bar  hidden" style="margin-left: 379.5px;">
                                <div class="monkey_scroll_handle " style="left: -3px;">
                                    <div class="monkey_scroll_handle_inner "></div>
                                </div>
                            </div>
                            <div class="monkey_scroll_hider" style="width: 100%;">
                                <div id="member_preview_scroller" class="flex_content_scroller monkey_scroller"
                                     style="height: 544.6px; width: 392px;">
                                    <div class="member_details clearfix display_flex flex_direction_column align_items_center cropped_preview">

                                        <span class=" member_preview_link member_image thumb_512"
                                              style="background-image:
                                                      url({{ MEDIA_URL }}{{ request.user.profile.image }}),
                                                      url({% static 'images/ava_0022-48.png' %})"></span>
                                        <div class="member_name_and_presence lato">
                                            <a href="#/team/jeriverom"
                                               class="member_name">{{ request.user.first_name }} {{ request.user.last_name }}</a>
                                            <span class="presence away" title="away">
                                                <i class="ts_icon ts_icon_presence presence_icon"></i></span>
                                        </div>
                                        <div class="member_action_bar">
                                            <a href="{% url 'account:profile_edit' %}" class="btn btn_outline">Edit
                                                Profile</a>
                                            <a href="{% url 'account:settings' %}" class="btn btn_outline">Account
                                                Settings</a>
                                            <a class="member_preview_menu_target btn btn_outline"><i
                                                    class="ts_icon ts_icon_chevron_large_down"></i></a>
                                        </div>
                                        <hr class="member_details_divider">
                                        <table class="member_data_table lato">
                                            <tbody>
                                            <tr>
                                                <td><span class="small_right_padding old_petunia_grey" title="Username">Username</span>
                                                </td>
                                                <td><span
                                                        title="@{{ request.user.username }}">@{{ request.user.username }}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span class="small_right_padding old_petunia_grey" title="Timezone">Timezone</span>
                                                </td>
                                                <td class="member_preview_timezone"><span class="timezone_label">
                                                    <span class="timezone_value">{% now 'P' %}</span> local time</span>
                                                    (<a href="#/account/settings">change</a>)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span class="small_right_padding old_petunia_grey" title="Email">Email</span>
                                                </td>
                                                <td><a href="mailto:{{ request.user.email }}"
                                                       title="Email {{ request.user.username }}">{{ request.user.email }}</a>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                        <div class="clear_both"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'chat/panels/panel_search.html' %}

        {% include 'chat/panels/panel_details.html' %}

        {% include 'chat/panels/panel_download.html' %}

        {% include 'chat/panels/panel_what_news.html' %}
    </div>
</div>